In [48]:

import os, json
import numpy as np, pandas as pd

from pprint import pprint
from datetime import datetime as dt

from functools import reduce

In [16]:

#team_name_a = 'Rajasthan Royals'
#team_name_b = 'Lucknow Super Giants'

team_name_a = 'Punjab Kings'
team_name_b = 'Royal Challengers Bangalore'

for_game_num = 'G27'

In [17]:

masterfile_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'
masterfile_name = 'master_df.csv'

In [18]:

print(masterfile_location)
print()
print(dt.now().date())

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\exp\

2023-04-20

In [19]:

df_masterfile = pd.read_csv(masterfile_location + masterfile_name)

In [20]:

print(df_masterfile.shape)
print()
print(df_masterfile.columns.values.tolist())

(562, 30)

['inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf', 'inn_bow', 'rc', 'balb', 'wkt', 'season', 'type', 'date', 'city', 'teams', 'team_nm', 'pts_for_thrty', 'pts_for_fifty', 'pts_for_hundy', 'pts_for_ducky', 'pts_for_3w', 'pts_for_4w', 'pts_for_5w', 'bow_econ', 'pts_for_bow_econ', 'bat_pts', 'bow_pts', 'pts_crickpe']

In [21]:

df_masterfile.teams.unique()

array(['Chennai Super Kings_v_Gujarat Titans',
       'Punjab Kings_v_Kolkata Knight Riders',
       'Lucknow Super Giants_v_Delhi Capitals',
       'Rajasthan Royals_v_Sunrisers Hyderabad',
       'Mumbai Indians_v_Royal Challengers Bangalore',
       'Chennai Super Kings_v_Lucknow Super Giants',
       'Delhi Capitals_v_Gujarat Titans',
       'Punjab Kings_v_Rajasthan Royals',
       'Kolkata Knight Riders_v_Royal Challengers Bangalore',
       'Sunrisers Hyderabad_v_Lucknow Super Giants',
       'Rajasthan Royals_v_Delhi Capitals',
       'Mumbai Indians_v_Chennai Super Kings',
       'Gujarat Titans_v_Kolkata Knight Riders',
       'Punjab Kings_v_Sunrisers Hyderabad',
       'Royal Challengers Bangalore_v_Lucknow Super Giants',
       'Delhi Capitals_v_Mumbai Indians',
       'Rajasthan Royals_v_Chennai Super Kings',
       'Punjab Kings_v_Gujarat Titans',
       'Sunrisers Hyderabad_v_Kolkata Knight Riders',
       'Royal Challengers Bangalore_v_Delhi Capitals',
       'Lucknow Super Giants_v_Punjab Kings',
       'Kolkata Knight Riders_v_Mumbai Indians',
       'Gujarat Titans_v_Rajasthan Royals',
       'Chennai Super Kings_v_Royal Challengers Bangalore'], dtype=object)

In [22]:


df_match_curr = df_masterfile.loc[ df_masterfile['team_nm'].isin( [ team_name_a, team_name_b] ) ]

print(df_match_curr.shape)
print(df_match_curr.columns.values.tolist())

(115, 30)
['inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf', 'inn_bow', 'rc', 'balb', 'wkt', 'season', 'type', 'date', 'city', 'teams', 'team_nm', 'pts_for_thrty', 'pts_for_fifty', 'pts_for_hundy', 'pts_for_ducky', 'pts_for_3w', 'pts_for_4w', 'pts_for_5w', 'bow_econ', 'pts_for_bow_econ', 'bat_pts', 'bow_pts', 'pts_crickpe']

### 1 Match Summary

In [23]:

display(df_match_curr)

,inn_bat,name,mnum,rs,four,six,out,bowf,inn_bow,rc,...,pts_for_hundy,pts_for_ducky,pts_for_3w,pts_for_4w,pts_for_5w,bow_econ,pts_for_bow_econ,bat_pts,bow_pts,pts_crickpe
23,1,P Simran Singh,2,23.0,2.0,2.0,1.0,12.0,NaN,NaN,...,0,0,0,0,0,NaN,0.0,29.0,0.0,29.0
24,1,RD Chahar,2,NaN,NaN,NaN,NaN,NaN,2.0,12.0,...,0,0,0,0,0,6.000000,0.0,0.0,25.0,25.0
25,1,R Dhawan,2,NaN,NaN,NaN,NaN,NaN,2.0,15.0,...,0,0,0,0,0,15.000000,0.0,0.0,0.0,0.0
26,1,NT Ellis,2,NaN,NaN,NaN,NaN,NaN,2.0,25.0,...,0,0,0,0,0,8.333333,0.0,0.0,25.0,25.0
27,1,Harpreet Brar,2,NaN,NaN,NaN,NaN,NaN,2.0,7.0,...,0,0,0,0,0,7.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,KD Karthik,24,28.0,3.0,1.0,1.0,14.0,NaN,NaN,...,0,0,0,0,0,NaN,0.0,33.0,0.0,33.0
558,2,GJ Maxwell,24,76.0,3.0,8.0,1.0,36.0,1.0,27.0,...,0,0,0,0,0,10.125000,0.0,107.0,25.0,132.0
559,2,F du Plessis,24,62.0,5.0,4.0,1.0,33.0,NaN,NaN,...,0,0,0,0,0,NaN,0.0,87.0,0.0,87.0
560,2,V Kohli,24,6.0,1.0,0.0,1.0,4.0,NaN,NaN,...,0,0,0,0,0,NaN,0.0,7.0,0.0,7.0
561,2,Vijaykumar Vyshak,24,NaN,NaN,NaN,NaN,NaN,1.0,62.0,...,0,0,0,0,0,15.500000,0.0,0.0,25.0,25.0

In [24]:

df_player_rup = df_match_curr.groupby(['team_nm','name'])\
    .agg({'mnum':'nunique', 'bat_pts':'sum', 'rs':'sum', 'four':'sum', 'six':'sum', 'bowf':'count', 'bow_pts':'sum','wkt':'sum','inn_bow':'count'})\
        .rename(columns = {'mnum':'named_in_squad','bowf':'bat_inn','inn_bow':'bow_inn'})\
            .reset_index()

print(df_player_rup.shape)
print()
print(df_player_rup.columns.values.tolist())
print()

(35, 11)

['team_nm', 'name', 'named_in_squad', 'bat_pts', 'rs', 'four', 'six', 'bat_inn', 'bow_pts', 'wkt', 'bow_inn']

In [25]:

df_player_rup.groupby('team_nm').agg({'name':'count'})

                             name
team_nm
Punjab Kings                   17
Royal Challengers Bangalore    18

In [27]:

display(df_player_rup[df_player_rup.team_nm.isin( [team_name_a]) ].head(25))

,team_nm,name,named_in_squad,bat_pts,rs,four,six,bat_inn,bow_pts,wkt,bow_inn
0,Punjab Kings,Arshdeep Singh,5,0.0,0.0,0.0,0.0,0,204.0,8.0,5
1,Punjab Kings,Atharva Taide,1,-2.0,0.0,0.0,0.0,1,0.0,0.0,0
2,Punjab Kings,Harpreet Brar,5,18.0,15.0,1.0,1.0,3,51.5,2.0,5
3,Punjab Kings,Harpreet Singh,1,25.0,22.0,3.0,0.0,1,0.0,0.0,0
4,Punjab Kings,JM Sharma,5,94.0,79.0,9.0,3.0,5,0.0,0.0,0
5,Punjab Kings,K Rabada,2,-2.0,0.0,0.0,0.0,1,75.0,3.0,2
6,Punjab Kings,M Shahrukh Khan,5,85.0,71.0,6.0,4.0,5,0.0,0.0,0
7,Punjab Kings,MW Short,3,94.0,71.0,11.0,2.0,3,1.0,0.0,2
8,Punjab Kings,Mohit Rathee,1,1.0,1.0,0.0,0.0,1,0.0,0.0,1
9,Punjab Kings,NT Ellis,3,-2.0,0.0,0.0,0.0,1,137.0,5.0,3
10,Punjab Kings,P Simran Singh,5,115.0,87.0,10.0,5.0,5,0.0,0.0,0
11,Punjab Kings,PBB Rajapaksa,3,93.0,71.0,6.0,2.0,3,0.0,0.0,0
12,Punjab Kings,R Dhawan,2,1.0,1.0,0.0,0.0,1,0.0,0.0,1
13,Punjab Kings,RD Chahar,5,-2.0,0.0,0.0,0.0,1,50.0,2.0,5
14,Punjab Kings,S Dhawan,4,306.0,233.0,29.0,8.0,4,0.0,0.0,0
15,Punjab Kings,SM Curran,5,90.0,77.0,5.0,4.0,5,154.0,6.0,5
16,Punjab Kings,Sikandar Raza,4,104.0,79.0,5.0,4.0,4,50.0,2.0,3

In [28]:

display(df_player_rup[df_player_rup.team_nm.isin( [team_name_a]) ].head(25))

,team_nm,name,named_in_squad,bat_pts,rs,four,six,bat_inn,bow_pts,wkt,bow_inn
0,Punjab Kings,Arshdeep Singh,5,0.0,0.0,0.0,0.0,0,204.0,8.0,5
1,Punjab Kings,Atharva Taide,1,-2.0,0.0,0.0,0.0,1,0.0,0.0,0
2,Punjab Kings,Harpreet Brar,5,18.0,15.0,1.0,1.0,3,51.5,2.0,5
3,Punjab Kings,Harpreet Singh,1,25.0,22.0,3.0,0.0,1,0.0,0.0,0
4,Punjab Kings,JM Sharma,5,94.0,79.0,9.0,3.0,5,0.0,0.0,0
5,Punjab Kings,K Rabada,2,-2.0,0.0,0.0,0.0,1,75.0,3.0,2
6,Punjab Kings,M Shahrukh Khan,5,85.0,71.0,6.0,4.0,5,0.0,0.0,0
7,Punjab Kings,MW Short,3,94.0,71.0,11.0,2.0,3,1.0,0.0,2
8,Punjab Kings,Mohit Rathee,1,1.0,1.0,0.0,0.0,1,0.0,0.0,1
9,Punjab Kings,NT Ellis,3,-2.0,0.0,0.0,0.0,1,137.0,5.0,3
10,Punjab Kings,P Simran Singh,5,115.0,87.0,10.0,5.0,5,0.0,0.0,0
11,Punjab Kings,PBB Rajapaksa,3,93.0,71.0,6.0,2.0,3,0.0,0.0,0
12,Punjab Kings,R Dhawan,2,1.0,1.0,0.0,0.0,1,0.0,0.0,1
13,Punjab Kings,RD Chahar,5,-2.0,0.0,0.0,0.0,1,50.0,2.0,5
14,Punjab Kings,S Dhawan,4,306.0,233.0,29.0,8.0,4,0.0,0.0,0
15,Punjab Kings,SM Curran,5,90.0,77.0,5.0,4.0,5,154.0,6.0,5
16,Punjab Kings,Sikandar Raza,4,104.0,79.0,5.0,4.0,4,50.0,2.0,3

### 1.2 Match Summary playing first

In [41]:

df_player_inn1_rup = df_match_curr[df_match_curr.inn_bat == 1].groupby(['team_nm','name'])\
    .agg({'mnum':'nunique', 'bat_pts':'sum', 'rs':'sum', 'four':'sum', 'six':'sum', 'bowf':'count', 'bow_pts':'sum','wkt':'sum','inn_bow':'count'})\
        .rename(columns = {'mnum':'i1_named_in_squad','bat_pts':'i1_bat_pts'\
                           , 'rs':'i1_rs', 'four':'i1_four', 'six':'i1_six' , 'bowf':'i1_bowf', 'bow_pts':'i2_bow_pts','wkt':'i2_wkt', 'inn_bow':'i2_inn'})\
            .reset_index()

print(df_player_inn1_rup.shape)
print()
print(df_player_inn1_rup.columns.values.tolist())
print()

(29, 11)

['team_nm', 'name', 'i1_named_in_squad', 'i1_bat_pts', 'i1_rs', 'i1_four', 'i1_six', 'i1_bowf', 'i2_bow_pts', 'i2_wkt', 'i2_inn']

In [42]:

display(df_player_inn1_rup.head(25))

,team_nm,name,i1_named_in_squad,i1_bat_pts,i1_rs,i1_four,i1_six,i1_bowf,i2_bow_pts,i2_wkt,i2_inn
0,Punjab Kings,Arshdeep Singh,4,0.0,0.0,0.0,0.0,0,179.0,7.0,4
1,Punjab Kings,Harpreet Brar,4,11.0,9.0,0.0,1.0,2,25.5,1.0,4
2,Punjab Kings,JM Sharma,4,92.0,77.0,9.0,3.0,4,0.0,0.0,0
3,Punjab Kings,K Rabada,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1
4,Punjab Kings,M Shahrukh Khan,4,57.0,48.0,5.0,2.0,4,0.0,0.0,0
5,Punjab Kings,MW Short,2,49.0,37.0,6.0,1.0,2,0.0,0.0,1
6,Punjab Kings,Mohit Rathee,1,1.0,1.0,0.0,0.0,1,0.0,0.0,1
7,Punjab Kings,NT Ellis,3,-2.0,0.0,0.0,0.0,1,137.0,5.0,3
8,Punjab Kings,P Simran Singh,4,110.0,83.0,9.0,5.0,4,0.0,0.0,0
9,Punjab Kings,PBB Rajapaksa,3,93.0,71.0,6.0,2.0,3,0.0,0.0,0
10,Punjab Kings,R Dhawan,2,1.0,1.0,0.0,0.0,1,0.0,0.0,1
11,Punjab Kings,RD Chahar,4,-2.0,0.0,0.0,0.0,1,50.0,2.0,4
12,Punjab Kings,S Dhawan,4,306.0,233.0,29.0,8.0,4,0.0,0.0,0
13,Punjab Kings,SM Curran,4,83.0,71.0,4.0,4.0,4,75.0,3.0,4
14,Punjab Kings,Sikandar Raza,3,25.0,22.0,1.0,1.0,3,25.0,1.0,2
15,Royal Challengers Bangalore,Anuj Rawat,1,16.0,15.0,1.0,0.0,1,0.0,0.0,0
16,Royal Challengers Bangalore,DJ Willey,1,0.0,0.0,0.0,0.0,0,0.0,0.0,1
17,Royal Challengers Bangalore,F du Plessis,2,133.0,101.0,8.0,6.0,2,0.0,0.0,0
18,Royal Challengers Bangalore,GJ Maxwell,2,116.0,83.0,3.0,9.0,2,0.0,0.0,0
19,Royal Challengers Bangalore,HV Patel,2,8.0,6.0,0.0,1.0,1,75.0,3.0,2
20,Royal Challengers Bangalore,KD Karthik,2,-1.0,1.0,0.0,0.0,2,0.0,0.0,0
21,Royal Challengers Bangalore,KV Sharma,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1
22,Royal Challengers Bangalore,MK Lomror,1,30.0,26.0,0.0,2.0,1,0.0,0.0,0
23,Royal Challengers Bangalore,Mohammed Siraj,2,0.0,0.0,0.0,0.0,0,158.5,6.0,2
24,Royal Challengers Bangalore,PWH de Silva,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1

### 1.3 Innings 2 Roll-Up

In [46]:

df_player_inn2_rup = df_match_curr[df_match_curr.inn_bat == 2].groupby(['team_nm','name'])\
    .agg({'mnum':'nunique', 'bat_pts':'sum', 'rs':'sum', 'four':'sum', 'six':'sum', 'bowf':'count', 'bow_pts':'sum','wkt':'sum','inn_bow':'count'})\
        .rename(columns = {'mnum':'i2_named_in_squad','bat_pts':'i2_bat_pts'\
                           , 'rs':'i2_rs', 'four':'i2_four', 'six':'i2_six' , 'bowf':'i2_bowf', 'bow_pts':'i1_bow_pts','wkt':'i1_wkt', 'inn_bow':'i1_inn'})\
            .reset_index()

print(df_player_inn2_rup.shape)
print()
print(df_player_inn2_rup.columns.values.tolist())
print()

(30, 11)

['team_nm', 'name', 'i2_named_in_squad', 'i2_bat_pts', 'i2_rs', 'i2_four', 'i2_six', 'i2_bowf', 'i1_bow_pts', 'i1_wkt', 'i1_inn']

In [47]:

display(df_player_inn1_rup.head(25))

,team_nm,name,i1_named_in_squad,i1_bat_pts,i1_rs,i1_four,i1_six,i1_bowf,i2_bow_pts,i2_wkt,i2_inn
0,Punjab Kings,Arshdeep Singh,4,0.0,0.0,0.0,0.0,0,179.0,7.0,4
1,Punjab Kings,Harpreet Brar,4,11.0,9.0,0.0,1.0,2,25.5,1.0,4
2,Punjab Kings,JM Sharma,4,92.0,77.0,9.0,3.0,4,0.0,0.0,0
3,Punjab Kings,K Rabada,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1
4,Punjab Kings,M Shahrukh Khan,4,57.0,48.0,5.0,2.0,4,0.0,0.0,0
5,Punjab Kings,MW Short,2,49.0,37.0,6.0,1.0,2,0.0,0.0,1
6,Punjab Kings,Mohit Rathee,1,1.0,1.0,0.0,0.0,1,0.0,0.0,1
7,Punjab Kings,NT Ellis,3,-2.0,0.0,0.0,0.0,1,137.0,5.0,3
8,Punjab Kings,P Simran Singh,4,110.0,83.0,9.0,5.0,4,0.0,0.0,0
9,Punjab Kings,PBB Rajapaksa,3,93.0,71.0,6.0,2.0,3,0.0,0.0,0
10,Punjab Kings,R Dhawan,2,1.0,1.0,0.0,0.0,1,0.0,0.0,1
11,Punjab Kings,RD Chahar,4,-2.0,0.0,0.0,0.0,1,50.0,2.0,4
12,Punjab Kings,S Dhawan,4,306.0,233.0,29.0,8.0,4,0.0,0.0,0
13,Punjab Kings,SM Curran,4,83.0,71.0,4.0,4.0,4,75.0,3.0,4
14,Punjab Kings,Sikandar Raza,3,25.0,22.0,1.0,1.0,3,25.0,1.0,2
15,Royal Challengers Bangalore,Anuj Rawat,1,16.0,15.0,1.0,0.0,1,0.0,0.0,0
16,Royal Challengers Bangalore,DJ Willey,1,0.0,0.0,0.0,0.0,0,0.0,0.0,1
17,Royal Challengers Bangalore,F du Plessis,2,133.0,101.0,8.0,6.0,2,0.0,0.0,0
18,Royal Challengers Bangalore,GJ Maxwell,2,116.0,83.0,3.0,9.0,2,0.0,0.0,0
19,Royal Challengers Bangalore,HV Patel,2,8.0,6.0,0.0,1.0,1,75.0,3.0,2
20,Royal Challengers Bangalore,KD Karthik,2,-1.0,1.0,0.0,0.0,2,0.0,0.0,0
21,Royal Challengers Bangalore,KV Sharma,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1
22,Royal Challengers Bangalore,MK Lomror,1,30.0,26.0,0.0,2.0,1,0.0,0.0,0
23,Royal Challengers Bangalore,Mohammed Siraj,2,0.0,0.0,0.0,0.0,0,158.5,6.0,2
24,Royal Challengers Bangalore,PWH de Silva,1,0.0,0.0,0.0,0.0,0,25.0,1.0,1


### 2. Maximum Pts.

In [43]:

df_player_max = df_match_curr.groupby(['team_nm','name'])\
    .agg({'bat_pts':'max', 'rs':'max', 'bow_pts':'max','wkt':'max'})\
        .rename(columns = {'bat_pts':'max_bat_pts','rs':'max_rs','bow_pts':'max_bow_pts','wkt':'max_wkt'})\
            .reset_index()

print(df_player_max.shape)
print(df_player_max.columns.values.tolist())

(35, 6)
['team_nm', 'name', 'max_bat_pts', 'max_rs', 'max_bow_pts', 'max_wkt']

In [44]:

display(df_player_max[df_player_max.team_nm.isin( ['Rajasthan Royals']) ].head(25))

Empty DataFrame
Columns: [team_nm, name, max_bat_pts, max_rs, max_bow_pts, max_wkt]
Index: []

### 3. Merging the datasets

In [ ]:

"""
df_mg = pd.merge(df_player_rup, df_player_max, df_player_inn1_rup, , on = ['team_nm','name'], how = 'outer')

print(df_mg.shape)
print()
print(df_mg.columns.values.tolist())
print()
"""

In [49]:

df_list = [ df_player_max, df_player_rup, df_player_inn1_rup, df_player_inn2_rup ]

def merge_dataframes(left, right):
    return pd.merge(left, right, on = ['team_nm','name'], how='outer')

df_mg = reduce(merge_dataframes, df_list)

In [52]:

print(df_mg.shape)
print()
print(df_mg.columns.values.tolist())
print()

(35, 33)

['team_nm', 'name', 'max_bat_pts', 'max_rs', 'max_bow_pts', 'max_wkt', 'named_in_squad', 'bat_pts', 'rs', 'four', 'six', 'bat_inn', 'bow_pts', 'wkt', 'bow_inn', 'i1_named_in_squad', 'i1_bat_pts', 'i1_rs', 'i1_four', 'i1_six', 'i1_bowf', 'i2_bow_pts', 'i2_wkt', 'i2_inn', 'i2_named_in_squad', 'i2_bat_pts', 'i2_rs', 'i2_four', 'i2_six', 'i2_bowf', 'i1_bow_pts', 'i1_wkt', 'i1_inn']

In [53]:

display(df_mg.head())

,team_nm,name,max_bat_pts,max_rs,max_bow_pts,max_wkt,named_in_squad,bat_pts,rs,four,...,i2_inn,i2_named_in_squad,i2_bat_pts,i2_rs,i2_four,i2_six,i2_bowf,i1_bow_pts,i1_wkt,i1_inn
0,Punjab Kings,Arshdeep Singh,0.0,NaN,79.0,3.0,5,0.0,0.0,0.0,...,4.0,1.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0,1.0
1,Punjab Kings,Atharva Taide,-2.0,0.0,0.0,NaN,1,-2.0,0.0,0.0,...,NaN,1.0,-2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,Punjab Kings,Harpreet Brar,10.0,8.0,26.0,1.0,5,18.0,15.0,1.0,...,4.0,1.0,7.0,6.0,1.0,0.0,1.0,26.0,1.0,1.0
3,Punjab Kings,Harpreet Singh,25.0,22.0,0.0,NaN,1,25.0,22.0,3.0,...,NaN,1.0,25.0,22.0,3.0,0.0,1.0,0.0,0.0,0.0
4,Punjab Kings,JM Sharma,31.0,27.0,0.0,NaN,5,94.0,79.0,9.0,...,0.0,1.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0

In [54]:

### EXPORT 

df_exp = df_mg[ df_mg.team_nm.isin( [ team_name_a, team_name_b ] ) ]

print(df_exp.shape)
print(df_exp.columns.values.tolist())

(35, 33)
['team_nm', 'name', 'max_bat_pts', 'max_rs', 'max_bow_pts', 'max_wkt', 'named_in_squad', 'bat_pts', 'rs', 'four', 'six', 'bat_inn', 'bow_pts', 'wkt', 'bow_inn', 'i1_named_in_squad', 'i1_bat_pts', 'i1_rs', 'i1_four', 'i1_six', 'i1_bowf', 'i2_bow_pts', 'i2_wkt', 'i2_inn', 'i2_named_in_squad', 'i2_bat_pts', 'i2_rs', 'i2_four', 'i2_six', 'i2_bowf', 'i1_bow_pts', 'i1_wkt', 'i1_inn']

In [55]:


exp_filename = for_game_num + '_' + 'Pre_PBKS_v_RCB' + '.csv'

df_exp.to_csv( masterfile_location + exp_filename , index = False)