In [ ]:

#### Steps to create the master dataset

# Import the bbb_master data
# Add the Tags from the tag data 
#

In [7]:

import pandas as pd, numpy as np, os
from pprint import pprint

In [37]:

def dfdets(df):
    print()
    print(df.shape)
    print()
    print(df.columns.values.tolist())
    print()
    display(df.head(3))

In [73]:

bbb_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_bbb\\'

tag_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'
tag_filename = 'Tags.xlsx'

exp_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

In [67]:

tag_df = pd.read_excel( tag_location + tag_filename )

dfdets(tag_df)

(187, 9)

['tm', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

,tm,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos
0,Chennai Super Kings,AM Rahane,Ajinkya Rahane,RHB,RAM,Right,Pace,medium,NaN
1,Chennai Super Kings,Akash Singh,Akash Singh,RHB,LAFM,Left,Pace,medium,NaN
2,Chennai Super Kings,AT Rayudu,Ambati Rayudu,RHB,RAOB,Right,Spin,off-break,NaN

In [69]:
### Importing the ball-by-ball data

In [8]:

print(bbb_location)

# Get a list of all files and directories in the folder
all_files_and_dirs = os.listdir(bbb_location)

# Filter the list to include only files (exclude directories)
files_only = [f for f in all_files_and_dirs if os.path.isfile(os.path.join(bbb_location, f))]

# Print total # of files
print(len(files_only))

# Print names of first few files 
pprint(files_only[:5])

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json_bbb\
49
['2023_10_Sunrisers Hyderabad vs Lucknow Super Giants.csv',
 '2023_11_Rajasthan Royals vs Delhi Capitals.csv',
 '2023_12_Mumbai Indians vs Chennai Super Kings.csv',
 '2023_13_Gujarat Titans vs Kolkata Knight Riders.csv',
 '2023_14_Punjab Kings vs Sunrisers Hyderabad.csv']

In [48]:

# initialize an empty DataFrame to store all the data
bbb_master_raw = pd.DataFrame()

# iterate through each file in the directory
for file_name in os.listdir(bbb_location):
    if file_name.endswith('.csv'):
        # read the CSV file into a DataFrame
        file_path = os.path.join(bbb_location, file_name)
        df_temp = pd.read_csv(file_path)
        
        # append the data to the master DataFrame
        bbb_master_raw = bbb_master_raw.append(df_temp)

# print the master DataFrame
print(bbb_master_raw.shape)
print()
print(bbb_master_raw.columns.values.tolist())
print()

(11951, 20)

['inn', 'bat_tm', 'batnum', 'bat', 'ball', 'over_num', 'bow', 'runs', 'wkt', 'wkt_how', 'b.cnt', 'f.ov.powp', 'f.ov.midd', 'f.ov.deat', 'm.grnd', 'm.date', 'ss', 'm.type', 'm.num', 'm.vs']

In [49]:

display(bbb_master_raw.head(3))

,inn,bat_tm,batnum,bat,ball,over_num,bow,runs,wkt,wkt_how,b.cnt,f.ov.powp,f.ov.midd,f.ov.deat,m.grnd,m.date,ss,m.type,m.num,m.vs
0,1,Sunrisers Hyderabad,1,Anmolpreet Singh,0,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants
1,1,Sunrisers Hyderabad,2,MA Agarwal,1,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants
2,1,Sunrisers Hyderabad,1,Anmolpreet Singh,2,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants

In [ ]:
## Merge the ball-by-ball data with the Tag(s) data

In [71]:

bbb_merge = pd.merge(bbb_master, tag_df, left_on = ['bat_tm','bat'], right_on = ['tm','name'], how = 'left')

In [72]:

dfdets(bbb_merge)

(11950, 31)

['inn', 'bat_tm', 'batnum', 'bat', 'ball', 'over_num', 'bow', 'runs', 'wkt', 'wkt_how', 'b.cnt', 'f.ov.powp', 'f.ov.midd', 'f.ov.deat', 'm.grnd', 'm.date', 'ss', 'm.type', 'm.num', 'm.vs', 'state', 'prevstate', 'tm', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

,inn,bat_tm,batnum,bat,ball,over_num,bow,runs,wkt,wkt_how,...,prevstate,tm,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos
0,1,Sunrisers Hyderabad,2,MA Agarwal,1,0,KR Mayers,1,0,NaN,...,1,Sunrisers Hyderabad,MA Agarwal,Mayank Agarwal,RHB,NaN,NaN,NaN,NaN,NaN
1,1,Sunrisers Hyderabad,1,Anmolpreet Singh,2,0,KR Mayers,1,0,NaN,...,1,Sunrisers Hyderabad,Anmolpreet Singh,Anmolpreet Singh,RHB,RAO,Right,Spin,off-break,NaN
2,1,Sunrisers Hyderabad,2,MA Agarwal,3,0,KR Mayers,1,0,NaN,...,1,Sunrisers Hyderabad,MA Agarwal,Mayank Agarwal,RHB,NaN,NaN,NaN,NaN,NaN

In [75]:

exp_filename = 'bbb_merge'
exp_extension = '.csv'
bbb_merge.to_csv( exp_location + exp_filename + exp_extension)

In [18]:

## Transition Matrix

In [54]:

dfdets(bbb_master_raw)

(11951, 20)

['inn', 'bat_tm', 'batnum', 'bat', 'ball', 'over_num', 'bow', 'runs', 'wkt', 'wkt_how', 'b.cnt', 'f.ov.powp', 'f.ov.midd', 'f.ov.deat', 'm.grnd', 'm.date', 'ss', 'm.type', 'm.num', 'm.vs']

,inn,bat_tm,batnum,bat,ball,over_num,bow,runs,wkt,wkt_how,b.cnt,f.ov.powp,f.ov.midd,f.ov.deat,m.grnd,m.date,ss,m.type,m.num,m.vs
0,1,Sunrisers Hyderabad,1,Anmolpreet Singh,0,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants
1,1,Sunrisers Hyderabad,2,MA Agarwal,1,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants
2,1,Sunrisers Hyderabad,1,Anmolpreet Singh,2,0,KR Mayers,1,0,NaN,1,1,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants

In [51]:

# Creating a state variable a) states can be either the runs or wickets (or extras in later versions) 

#print(type(bbb_master_raw))

bbb_master = bbb_master_raw.copy()

bbb_master['state'] = bbb_master.apply(lambda x: -1 if x.wkt == 1 else x.runs, axis=1).astype('Int64')
#bbb_master = bbb_master.apply(lambda x: -1 if x['wkt'] == 1 else x['runs'], axis=1)
bbb_master['prevstate'] = bbb_master['state'].shift(1).astype('Int64')

bbb_master = bbb_master[~bbb_master.prevstate.isna()]
 
dfdets(bbb_master)

<class 'pandas.core.frame.DataFrame'>

(11950, 22)

['inn', 'bat_tm', 'batnum', 'bat', 'ball', 'over_num', 'bow', 'runs', 'wkt', 'wkt_how', 'b.cnt', 'f.ov.powp', 'f.ov.midd', 'f.ov.deat', 'm.grnd', 'm.date', 'ss', 'm.type', 'm.num', 'm.vs', 'state', 'prevstate']

,inn,bat_tm,batnum,bat,ball,over_num,bow,runs,wkt,wkt_how,...,f.ov.midd,f.ov.deat,m.grnd,m.date,ss,m.type,m.num,m.vs,state,prevstate
1,1,Sunrisers Hyderabad,2,MA Agarwal,1,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1
2,1,Sunrisers Hyderabad,1,Anmolpreet Singh,2,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1
3,1,Sunrisers Hyderabad,2,MA Agarwal,3,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1

In [56]:

# Extract the unique states: (runs, wickets)
states = sorted(list(set(zip(bbb_master['prevstate'], bbb_master['state']))))

print(len(states))
print(states)

51
[(-1, -1), (-1, 0), (-1, 1), (-1, 2), (-1, 3), (-1, 4), (-1, 6), (0, -1), (0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 6), (1, -1), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 6), (2, -1), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 6), (3, -1), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 6), (4, -1), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (6, -1), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 6)]

In [61]:

# Create a mapping of states to indices
state_to_index = {state: index for index, state in enumerate(states)}

# Initialize the transition matrix
transition_matrix = np.zeros((len(states), len(states)))

# Iterate through the data and update the transition matrix
for i in range(len(bbb_master) - 1):
    current_state = (bbb_master.iloc[i]['prevstate'], bbb_master.iloc[i]['state'])
    next_state = (bbb_master.iloc[i+1]['prevstate'], bbb_master.iloc[i+1]['state'])
    transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

# Normalize the transition matrix
transition_matrix = transition_matrix / transition_matrix.sum(axis=1, keepdims=True)

print("Transition Matrix:")
print(transition_matrix.shape)
print()
print(transition_matrix)
print()

Transition Matrix:
(51, 51)

[[0.12903226 0.48387097 0.19354839 ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.11392405 0.16455696]]

In [ ]:

## Code as a function.

def create_transition_matrix(data, states, state_to_index):
    transition_matrix = np.zeros((len(states), len(states)))

    for i in range(len(data) - 1):
        current_state = (data.iloc[i]['runs'], data.iloc[i]['wkt'])
        next_state = (data.iloc[i+1]['runs'], data.iloc[i+1]['wkt'])
        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

    transition_matrix = transition_matrix / transition_matrix.sum(axis=1, keepdims=True)

    return transition_matrix

In [62]:
### Trial on creating a transition matrix by Tags Right-Spin vs Right-Pace vs Left-Spin vs Left-Pace

In [63]:

dfdets(bbb_master)

(11950, 22)

['inn', 'bat_tm', 'batnum', 'bat', 'ball', 'over_num', 'bow', 'runs', 'wkt', 'wkt_how', 'b.cnt', 'f.ov.powp', 'f.ov.midd', 'f.ov.deat', 'm.grnd', 'm.date', 'ss', 'm.type', 'm.num', 'm.vs', 'state', 'prevstate']

,inn,bat_tm,batnum,bat,ball,over_num,bow,runs,wkt,wkt_how,...,f.ov.midd,f.ov.deat,m.grnd,m.date,ss,m.type,m.num,m.vs,state,prevstate
1,1,Sunrisers Hyderabad,2,MA Agarwal,1,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1
2,1,Sunrisers Hyderabad,1,Anmolpreet Singh,2,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1
3,1,Sunrisers Hyderabad,2,MA Agarwal,3,0,KR Mayers,1,0,NaN,...,0,0,Lucknow,2023-04-07,2023,T20,10,Sunrisers Hyderabad vs Lucknow Super Giants,1,1

In [ ]:

#Create the necessary columns 

bbb_master['bat.tag'] = bbb_master['bat']

In [ ]:

master_tmat = create_transition_matrix

In [4]:

def create_top1_matrices(data, states, state_to_index):
    matrices = {}

    for batsman_tag in ['RHB', 'LHB']:
        for bowler_tag in ['LAFM', 'RAFM', 'RAO', 'RAOB', 'LAO', 'LAOB', 'LAM', 'RAM']:
            filtered_data = data[(data['batsman_tag'] == batsman_tag) & (data['bowler_tag'] == bowler_tag)]
            if len(filtered_data) > 0:
                matrices[(batsman_tag, bowler_tag)] = create_transition_matrix(filtered_data, states, state_to_index)

    return matrices

In [ ]:

# Create the Top-1 level transition matrices
top1_matrices = create_top1_matrices(data, states, state_to_index)

In [ ]:

# Example batsman-bowler combinations for the first and second innings
first_innings_batsman_bowler_combinations = [('RHB', 'RAFM')] * num_balls  # Replace this with the actual combinations
second_innings_batsman_bowler_combinations = [('LHB', 'RAO')] * num_balls  # Replace this with the actual combinations

# Simulate the first innings using the top-1 level matrices
simulated_first_innings = simulate_ball_by_ball(
    first_innings_transition_matrix,
    state_to_index,
    states,
    num_balls,
    top1_matrices=top1_matrices,
    batsman_bowler_combinations=first_innings_batsman_bowler_combinations,
)

# Simulate the second innings using the top-1 level matrices
simulated_second_innings = simulate_ball_by_ball(
    second_innings_transition_matrix,
    state_to_index,
    states,
    num_balls,
    target=first_innings_total_runs + 1,
    top1_matrices=top1_matrices,
    batsman_bowler_combinations=second_innings_batsman_bowler_combinations,
)

In [ ]:

def simulate_ball_by_ball(transition_matrix, state_to_index, states, num_balls, target=None, top1_matrices=None, batsman_bowler_combinations=None):
    current_state = (0, 0)
    simulation = []
    runs = 0
    wickets = 0

    # Keep track of the current batsman on strike and non-striker
    current_batsman = 0
    current_non_striker = 1

    for ball in range(num_balls):
        if top1_matrices is not None and batsman_bowler_combinations is not None:
            batsman_tag, bowler_tag = batsman_bowler_combinations[current_batsman]
            combination_matrix = top1_matrices.get((batsman_tag, bowler_tag), None)
            if combination_matrix is not None:
                transition_matrix = combination_matrix

        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state_index = np.random.choice(range(len(states)), p=next_state_probs)
        next_state = states[next_state_index]
        simulation.append(next_state)
        current_state = next_state
        runs += next_state[0]
        wickets += next_state[1]

        # Update the batsman and non-striker positions based on runs scored
        if next_state[0] in [1, 3]:
            current_batsman, current_non_striker = current_non_striker, current_batsman

        # Account for a new batsman coming in after a wicket
        if next_state[1] == 1:
            current_batsman = wickets + 1

        # Change strike at the end of an over
        if (ball + 1) % 6 == 0:
            current_batsman, current_non_striker = current_non_striker, current_batsman

        if target is not None:
            if runs >= target or wickets == 10:
                break

    return simulation