In [1]:

import os, json
import numpy as np, pandas as pd, math, yaml

from pprint import pprint
from datetime import datetime as dt

In [2]:

exp_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

location_json = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_2023_05_15\\'
location_yaml = "C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_yaml_2023_05_15\\"

In [3]:

print(location_json)
print()
print(location_yaml)
print()
print(dt.now().date())

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json_2023_05_15\

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_yaml_2023_05_15\

2023-05-16

In [4]:
#### IMPORT FILE IF YAML

In [5]:

# Load YAML file
print(location_yaml + '335982.yaml')

with open(location_yaml + '335982.yaml', 'r') as file:
    data = yaml.safe_load(file)

# Initialize list to hold ball-by-ball information
balls_data = []

# Traverse through the innings
for inning in data['innings']:
    for inning_name, inning_info in inning.items():
        team = inning_info['team']
        for delivery in inning_info['deliveries']:
            for delivery_num, delivery_info in delivery.items():
                delivery_info['delivery'] = delivery_num
                delivery_info['inning'] = inning_name
                delivery_info['team'] = team
                balls_data.append(delivery_info)

# Create DataFrame from the list of dictionaries
df = pd.DataFrame(balls_data)

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_yaml_2023_05_15\335982.yaml

In [6]:

print(df.describe().transpose())

          count      mean       std  min  25%  50%   75%   max
delivery  225.0  8.787111  5.337691  0.1  4.3  8.6  13.1  19.6

In [7]:

display(df.head(25))

,batsman,bowler,extras,non_striker,runs,delivery,inning,team,wicket
0,SC Ganguly,P Kumar,{'legbyes': 1},BB McCullum,"{'batsman': 0, 'extras': 1, 'total': 1}",0.1,1st innings,Kolkata Knight Riders,NaN
1,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",0.2,1st innings,Kolkata Knight Riders,NaN
2,BB McCullum,P Kumar,{'wides': 1},SC Ganguly,"{'batsman': 0, 'extras': 1, 'total': 1}",0.3,1st innings,Kolkata Knight Riders,NaN
3,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",0.4,1st innings,Kolkata Knight Riders,NaN
4,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",0.5,1st innings,Kolkata Knight Riders,NaN
5,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",0.6,1st innings,Kolkata Knight Riders,NaN
6,BB McCullum,P Kumar,{'legbyes': 1},SC Ganguly,"{'batsman': 0, 'extras': 1, 'total': 1}",0.7,1st innings,Kolkata Knight Riders,NaN
7,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",1.1,1st innings,Kolkata Knight Riders,NaN
8,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 4, 'extras': 0, 'total': 4}",1.2,1st innings,Kolkata Knight Riders,NaN
9,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 4, 'extras': 0, 'total': 4}",1.3,1st innings,Kolkata Knight Riders,NaN
10,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 6, 'extras': 0, 'total': 6}",1.4,1st innings,Kolkata Knight Riders,NaN
11,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 4, 'extras': 0, 'total': 4}",1.5,1st innings,Kolkata Knight Riders,NaN
12,BB McCullum,Z Khan,NaN,SC Ganguly,"{'batsman': 0, 'extras': 0, 'total': 0}",1.6,1st innings,Kolkata Knight Riders,NaN
13,SC Ganguly,P Kumar,NaN,BB McCullum,"{'batsman': 0, 'extras': 0, 'total': 0}",2.1,1st innings,Kolkata Knight Riders,NaN
14,SC Ganguly,P Kumar,NaN,BB McCullum,"{'batsman': 0, 'extras': 0, 'total': 0}",2.2,1st innings,Kolkata Knight Riders,NaN
15,SC Ganguly,P Kumar,{'legbyes': 1},BB McCullum,"{'batsman': 0, 'extras': 1, 'total': 1}",2.3,1st innings,Kolkata Knight Riders,NaN
16,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 4, 'extras': 0, 'total': 4}",2.4,1st innings,Kolkata Knight Riders,NaN
17,BB McCullum,P Kumar,NaN,SC Ganguly,"{'batsman': 1, 'extras': 0, 'total': 1}",2.5,1st innings,Kolkata Knight Riders,NaN
18,SC Ganguly,P Kumar,NaN,BB McCullum,"{'batsman': 0, 'extras': 0, 'total': 0}",2.6,1st innings,Kolkata Knight Riders,NaN
19,BB McCullum,AA Noffke,{'wides': 5},SC Ganguly,"{'batsman': 0, 'extras': 5, 'total': 5}",3.1,1st innings,Kolkata Knight Riders,NaN
20,BB McCullum,AA Noffke,NaN,SC Ganguly,"{'batsman': 6, 'extras': 0, 'total': 6}",3.2,1st innings,Kolkata Knight Riders,NaN
21,BB McCullum,AA Noffke,{'legbyes': 1},SC Ganguly,"{'batsman': 0, 'extras': 1, 'total': 1}",3.3,1st innings,Kolkata Knight Riders,NaN
22,SC Ganguly,AA Noffke,NaN,BB McCullum,"{'batsman': 4, 'extras': 0, 'total': 4}",3.4,1st innings,Kolkata Knight Riders,NaN
23,SC Ganguly,AA Noffke,NaN,BB McCullum,"{'batsman': 0, 'extras': 0, 'total': 0}",3.5,1st innings,Kolkata Knight Riders,NaN
24,SC Ganguly,AA Noffke,NaN,BB McCullum,"{'batsman': 1, 'extras': 0, 'total': 1}",3.6,1st innings,Kolkata Knight Riders,NaN

In [8]:


# Define a dictionary to map team names to abbreviations
team_abbreviations = {
                'Kolkata Knight Riders': 'KKR',
                'Royal Challengers Bangalore': 'RCB',
                'Punjab Kings' : 'PBKS',
                'Chennai Super Kings' : 'CSK',
                'Mumbai Indians' : 'MI',
                'Gujarat Titans' : 'GT',
                'Sunrisers Hyderabad': 'SRH',
                'Lucknow Super Giants': 'LSG',
                'Rajasthan Royals' : 'RR',
                'Delhi Capitals' : 'DC' 
                    }

# Initialize DataFrame to hold all ball-by-ball information
all_data = pd.DataFrame()

# Specify the directory where your YAML files are stored
directory = location_yaml

# Loop over all YAML files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.yaml') and int(filename[:-5]) > 1359475:  # Check if the filename (without extension) is larger than 1359475
        print(filename)
        with open(os.path.join(directory, filename)) as file:
            data = yaml.safe_load(file)

            # Initialize list to hold ball-by-ball information
            balls_data = []

            # Traverse through the innings
            for inning in data['innings']:
                for inning_name, inning_info in inning.items():
                    team_batting = team_abbreviations[inning_info['team']]
                    team_bowling = team_abbreviations[data['info']['teams'][1] if inning_info['team'] == data['info']['teams'][0] else data['info']['teams'][0]]
                    print(f'{team_batting} vs {team_bowling}'')
                    for delivery in inning_info['deliveries']:
                        for delivery_num, delivery_info in delivery.items():
                            delivery_info['delivery'] = delivery_num
                            delivery_info['inning'] = inning_name
                            delivery_info['team_batting'] = team_batting
                            delivery_info['team_bowling'] = team_bowling
                            delivery_info['city'] = data['info']['city']
                            delivery_info['date'] = data['info']['dates'][0]
                            delivery_info['competition'] = data['info']['competition']
                            delivery_info['match_type'] = data['info']['match_type']
                            delivery_info['batsman_runs'] = delivery_info['runs']['batsman']
                            delivery_info['extra_runs'] = delivery_info['runs']['extras']
                            delivery_info['wkt'] = 1 if 'wicket' in delivery_info else 0
                            delivery_info.pop('runs', None)  # Remove the 'runs' column
                            delivery_info.pop('wicket', None)  # Remove the 'wicket' column
                            delivery_info.pop('non_striker', None)  # Remove the 'non_striker' column
                            balls_data.append(delivery_info)

            # Create DataFrame from the list of dictionaries
            df = pd.DataFrame(balls_data)

            # Rename the specified columns
            df.rename(columns={
                'batsman_runs': 'tr',
                'team_batting': 'tm_bat',
                'team_bowling': 'tm_bow',
                'batsman': 'bat',
                'bowler': 'bow',
                'match_type': 'mtype',
                'extra_runs': 'extra',
                'delivery':'bnum'
            }, inplace=True)

            # Append this DataFrame to the master DataFrame
            all_data = pd.concat([all_data, df], ignore_index=True)

print(dt.now())

1359476.yaml
1359477.yaml
1359478.yaml
1359479.yaml
1359480.yaml
1359481.yaml
1359482.yaml
1359483.yaml
1359484.yaml
1359485.yaml
1359486.yaml
1359487.yaml
1359488.yaml
1359489.yaml
1359490.yaml
1359491.yaml
1359492.yaml
1359493.yaml
1359494.yaml
1359495.yaml
1359496.yaml
1359497.yaml
1359498.yaml
1359499.yaml
1359500.yaml
1359501.yaml
1359502.yaml
1359503.yaml
1359504.yaml
1359505.yaml
1359506.yaml
1359507.yaml
1359508.yaml
1359509.yaml
1359510.yaml
1359511.yaml
1359512.yaml
1359513.yaml
1359514.yaml
1359515.yaml
1359516.yaml
1359517.yaml
1359518.yaml
1359519.yaml
1359520.yaml
1359521.yaml
1359522.yaml
1359523.yaml
1359524.yaml
1359525.yaml
1359526.yaml
1359527.yaml
1359528.yaml
1359529.yaml
1359530.yaml
1359531.yaml
1359532.yaml
1359533.yaml
1359534.yaml
1359535.yaml
1359536.yaml
2023-05-16 17:20:43.870176

In [9]:

print(all_data.describe().transpose())

         count      mean       std  min  25%  50%   75%   max
bnum   14684.0  9.669540  5.716964  0.1  4.6  9.5  14.5  19.9
tr     14684.0  1.354399  1.718723  0.0  0.0  1.0   1.0   6.0
extra  14684.0  0.069055  0.350905  0.0  0.0  0.0   0.0   5.0
wkt    14684.0  0.052234  0.222506  0.0  0.0  0.0   0.0   1.0

In [10]:

display(all_data.head(3))
#display(all_data[~all_data.wicket.isna()].head(3))

,bow,bat,bnum,inning,tm_bat,tm_bow,city,date,competition,mtype,tr,extra,wkt,extras,replacements
0,UT Yadav,P Simran Singh,0.1,1st innings,PBKS,KKR,Chandigarh,2023-04-01,IPL,T20,0,0,0,NaN,NaN
1,UT Yadav,P Simran Singh,0.2,1st innings,PBKS,KKR,Chandigarh,2023-04-01,IPL,T20,2,0,0,NaN,NaN
2,UT Yadav,P Simran Singh,0.3,1st innings,PBKS,KKR,Chandigarh,2023-04-01,IPL,T20,0,0,0,NaN,NaN

In [11]:

all_data_rup = all_data.groupby(['date','city','inning','tm_bat'])\
    .agg( {'tr':'sum','wkt':'sum', 'bnum':'count'})\
        .reset_index()

In [12]:

print(all_data_rup.shape)
print(all_data_rup.columns.values.tolist())

(121, 7)
['date', 'city', 'inning', 'tm_bat', 'tr', 'wkt', 'bnum']

In [13]:

display(all_data_rup)

           date        city       inning tm_bat   tr  wkt  bnum
0    2023-04-01  Chandigarh  1st innings   PBKS  187    5   123
1    2023-04-01  Chandigarh  2nd innings    KKR  140    7    99
2    2023-04-01     Lucknow  1st innings    LSG  185    6   125
3    2023-04-01     Lucknow  2nd innings     DC  133    9   126
4    2023-04-02   Bengaluru  1st innings     MI  160    7   130
..          ...         ...          ...    ...  ...  ...   ...
116  2023-05-14     Chennai  2nd innings    KKR  135    4   118
117  2023-05-14      Jaipur  1st innings    RCB  166    5   124
118  2023-05-14      Jaipur  2nd innings     RR   56   10    65
119  2023-05-15   Ahmedabad  1st innings     GT  175    9   128
120  2023-05-15   Ahmedabad  2nd innings    SRH  145    9   125

[121 rows x 7 columns]

In [14]:
#### Add more columns to the all_data which might be of use

In [15]:

# First, we'll need to extract the over from the 'bnum' column.
all_data['over'] = all_data['bnum'].apply(lambda x: int(x)+1)

# Now we can create the 'fpp', 'fmid', 'fdth' columns based on the 'over' column.
all_data['fpp'] = all_data['over'].apply(lambda x: 1 if x <= 6 else 0)
all_data['fmid'] = all_data['over'].apply(lambda x: 1 if 7 <= x <= 16 else 0)
all_data['fdth'] = all_data['over'].apply(lambda x: 1 if x > 16 else 0)

In [19]:

all_data.groupby(['fpp','fmid','fdth']).agg({'over':'nunique'})

               over
fpp fmid fdth
0   0    1        4
    1    0       10
1   0    0        6

In [17]:

exp_fname = 'bbb_upto_G62_frm_yaml'
exp_ext = '.xlsx'

dropcols = ['extras','replacements']

all_data.drop(columns = dropcols).to_excel(exp_location + exp_fname + exp_ext , index = False)

In [ ]:
#### END : Import yaml files

In [ ]:

folder_path = location

# Get a list of all files and directories in the folder
all_files_and_dirs = os.listdir(folder_path)

# Filter the list to include only files (exclude directories)
files_only = [f for f in all_files_and_dirs if os.path.isfile(os.path.join(folder_path, f))]

# Print total # of files
print(len(files_only))

# Print names of first few files 
print(files_only[:5])

In [ ]:

files_list = files_only
total_files = len(files_list)

#print(np.arange(total_files))
print(total_files)

# 997 files upto the 15th of May 2023 Match

In [ ]:

#All file numbers > 1359475 are #2023 IPL onwards
#All file numbers > 1304047 are #2022 IPL onwards

In [ ]:

# DEBUGGING

for filenum in np.arange(total_files):

    import_filename = files_only[filenum].replace('.json','')
    print(import_filename)
    
    if (import_filename != 'README.txt') :
        if ( int(import_filename) == 1359493 ):
            # Replace 'file.json' with the path to your JSON file
            json_file_path = location + '\\' + files_only[filenum]
            print(json_file_path)



            #adding a check to see if json file is empty before reading it with pd.read_json.

            if os.path.getsize(json_file_path) > 0:
                # Can't read it directly because of multiple structures inside the json file
                #df = pd.read_json(json_file_path)

                # let's try to flatten it and then import it
                with open(json_file_path, 'r', encoding='utf-8') as file:
                    json_content = json.load(file)

                # Flatten the nested JSON content
                df = pd.json_normalize(json_content)

            else:
                print("The JSON file is empty.")

In [ ]:

pprint(json_content)

In [ ]:

pprint(json_content['info']['city'])
pprint(json_content['info']['dates'][0])
pprint(json_content['info']['event']['match_number'])
pprint(json_content['info']['match_type'])
pprint(json_content['info']['season'])
pprint(json_content['info']['teams'][0])
pprint(json_content['info']['teams'][1])

print()

pprint(json_content['info'])