In [1]:

### Need to add total innings in phases of the game.

import os, json
import numpy as np, pandas as pd

from pprint import pprint
from datetime import datetime as dt

In [2]:

with_pre_existing_tags = True

In [3]:

#team_for_code = 'Chennai Super Kings'
#team_for_code = 'Lucknow Super Giants'

#team_for_code = 'Mumbai Indians'

#team_for_code = 'Kolkata Knight Riders'
#team_for_code = 'Sunrisers Hyderabad'

#team_for_code = 'Rajasthan Royals'
#team_for_code = 'Gujarat Titans'

#team_for_code = 'MI' #'Mumbai Indians'
#team_for_code = 'LSG' #'Lucknow Super Giants'
#team_for_code = 'GT' # Gujarat Titans

#team_for_code = 'PBKS' #'Punjab Kings'
team_for_code = 'MI' #'Punjab Kings'

In [4]:
print(team_for_code)

PBKS

In [5]:

#csv_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_bbb\\'
loc_alldata = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

loc_exp = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

loc_lups = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'

In [6]:

print(loc_alldata)
print()
print(loc_exp)
print()
print(loc_lups)
print()
print(dt.now().date())

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\exp\

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\exp\

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\lineups\

2023-05-17

In [7]:

#lups stands for lookups, importing the look up tables here

lups = pd.read_excel(loc_lups + 'Tags.xlsx')

print(lups.shape)
print()
print(lups.columns.values.tolist())

(187, 10)

['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

In [8]:

alldata_fname = 'bbb_upto_G62_frm_yaml.xlsx'

In [9]:

alldf = pd.read_excel(loc_alldata + alldata_fname)

In [10]:

print(alldf.shape)
print(alldf.columns.values.tolist())

(15162, 17)
['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth']

In [11]:

# Assuming df is your dataframe
alldf['date'] = pd.to_datetime(alldf['date'])  # convert 'date' to datetime format if it's not already

# Create a new column that combines 'city' and 'date'
alldf['city_date'] = alldf['date'].astype(str) + alldf['city'] 

# Sort the DataFrame by 'city_date'
alldf = alldf.sort_values('city_date')

# Use factorize to assign ranks
alldf['m.num'] = pd.factorize(alldf['city_date'])[0] + 1

# Optionally, if you don't need 'city_date' column, you can drop it
alldf = alldf.drop(columns='city_date')

In [12]:
## QC

In [13]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want

In [14]:
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [15]:

temp = alldf.groupby(['date','city','m.num','inning','tm_bat']).agg({'b.num':'count'}).reset_index()

display(temp.head(50))

         date        city  m.num       inning tm_bat  b.num
0  2023-04-01  Chandigarh      1  1st innings   PBKS    123
1  2023-04-01  Chandigarh      1  2nd innings    KKR     99
2  2023-04-01     Lucknow      2  1st innings    LSG    125
3  2023-04-01     Lucknow      2  2nd innings     DC    126
4  2023-04-02   Bengaluru      3  1st innings     MI    130
5  2023-04-02   Bengaluru      3  2nd innings    RCB    102
6  2023-04-02   Hyderabad      4  1st innings     RR    122
7  2023-04-02   Hyderabad      4  2nd innings    SRH    126
8  2023-04-03     Chennai      5  1st innings    CSK    124
9  2023-04-03     Chennai      5  2nd innings    LSG    136
10 2023-04-04       Delhi      6  1st innings     DC    125
11 2023-04-04       Delhi      6  2nd innings     GT    115
12 2023-04-05    Guwahati      7  1st innings   PBKS    127
13 2023-04-05    Guwahati      7  2nd innings     RR    125
14 2023-04-06     Kolkata      8  1st innings    KKR    129
15 2023-04-06     Kolkata      8  2nd innings    RCB    107
16 2023-04-07     Lucknow      9  1st innings    SRH    122
17 2023-04-07     Lucknow      9  2nd innings    LSG    101
18 2023-04-08    Guwahati     10  1st innings     RR    124
19 2023-04-08    Guwahati     10  2nd innings     DC    128
20 2023-04-08      Mumbai     11  1st innings     MI    125
21 2023-04-08      Mumbai     11  2nd innings    CSK    114
22 2023-04-09   Ahmedabad     12  1st innings     GT    127
23 2023-04-09   Ahmedabad     12  2nd innings    KKR    123
24 2023-04-09   Hyderabad     13  1st innings   PBKS    125
25 2023-04-09   Hyderabad     13  2nd innings    SRH    103
26 2023-04-10   Bengaluru     14  1st innings    RCB    124
27 2023-04-10   Bengaluru     14  2nd innings    LSG    129
28 2023-04-11       Delhi     15  1st innings     DC    124
29 2023-04-11       Delhi     15  2nd innings     MI    122
30 2023-04-12     Chennai     16  1st innings     RR    126
31 2023-04-12     Chennai     16  2nd innings    CSK    127
32 2023-04-13  Chandigarh     17  1st innings   PBKS    129
33 2023-04-13  Chandigarh     17  2nd innings     GT    119
34 2023-04-14     Kolkata     18  1st innings    SRH    128
35 2023-04-14     Kolkata     18  2nd innings    KKR    128
36 2023-04-15   Bengaluru     19  1st innings    RCB    124
37 2023-04-15   Bengaluru     19  2nd innings     DC    123
38 2023-04-15     Lucknow     20  1st innings    LSG    127
39 2023-04-15     Lucknow     20  2nd innings   PBKS    122
40 2023-04-16   Ahmedabad     21  1st innings     GT    124
41 2023-04-16   Ahmedabad     21  2nd innings     RR    118
42 2023-04-16      Mumbai     22  1st innings    KKR    128
43 2023-04-16      Mumbai     22  2nd innings     MI    109
44 2023-04-17   Bengaluru     23  1st innings    CSK    126
45 2023-04-17   Bengaluru     23  2nd innings    RCB    126
46 2023-04-18   Hyderabad     24  1st innings     MI    122
47 2023-04-18   Hyderabad     24  2nd innings    SRH    127
48 2023-04-19      Jaipur     25  1st innings    LSG    122
49 2023-04-19      Jaipur     25  2nd innings     RR    123

## Filter for Team

In [16]:

master_df = alldf[ (alldf['tm_bat'].str.contains(team_for_code) \
                  | alldf['tm_bow'].str.contains(team_for_code) ) \
                  & ( alldf['m.num'] != 45) ]

print(master_df.shape)
print()
print(master_df.columns.values.tolist())
print()

(2980, 18)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num']

In [17]:

display(master_df.groupby(['date','city','m.num','inning','tm_bat']).agg({'b.num':'count'}).head(50))

                                                b.num
date       city       m.num inning      tm_bat
2023-04-01 Chandigarh 1     1st innings PBKS      123
                            2nd innings KKR        99
2023-04-05 Guwahati   7     1st innings PBKS      127
                            2nd innings RR        125
2023-04-09 Hyderabad  13    1st innings PBKS      125
                            2nd innings SRH       103
2023-04-13 Chandigarh 17    1st innings PBKS      129
                            2nd innings GT        119
2023-04-15 Lucknow    20    1st innings LSG       127
                            2nd innings PBKS      122
2023-04-20 Chandigarh 26    1st innings RCB       123
                            2nd innings PBKS      113
2023-04-22 Mumbai     30    1st innings PBKS      129
                            2nd innings MI        123
2023-04-28 Chandigarh 37    1st innings LSG       129
                            2nd innings PBKS      128
2023-04-30 Chennai    40    1st innings CSK       127
                            2nd innings PBKS      125
2023-05-03 Chandigarh 44    1st innings PBKS      128
                            2nd innings MI        116
2023-05-08 Kolkata    52    1st innings PBKS      126
                            2nd innings KKR       123
2023-05-13 Delhi      57    1st innings PBKS      127
                            2nd innings DC        123

## Batting stats

In [18]:

print(master_df.columns.values.tolist())

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num']

In [19]:

display(master_df.head(3))

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,mtype,tr,wkt,over,fpp,fmid,fdth,m.num
0,SM Curran,Mandeep Singh,1,0.1,2nd innings,KKR,PBKS,Chandigarh,2023-04-01,IPL,T20,0,0,1,1,0,0,1
146,TG Southee,PBB Rajapaksa,3,3.4,1st innings,PBKS,KKR,Chandigarh,2023-04-01,IPL,T20,2,0,4,1,0,0,1
147,TG Southee,PBB Rajapaksa,3,3.5,1st innings,PBKS,KKR,Chandigarh,2023-04-01,IPL,T20,1,0,4,1,0,0,1

In [20]:

master_df.groupby(['fpp','fmid','fdth','over']).agg({'bow':'count'})

                    bow
fpp fmid fdth over
0   0    1    17    146
              18    139
              19    137
              20    120
    1    0    7     147
              8     147
              9     151
              10    148
              11    148
              12    146
              13    151
              14    151
              15    149
              16    154
1   0    0    1     154
              2     151
              3     151
              4     150
              5     149
              6     150

In [21]:

print(master_df.shape)
print(master_df['m.num'].unique().tolist())

(2980, 18)
[1, 7, 13, 17, 20, 26, 30, 37, 40, 44, 52, 57]

In [22]:

if with_pre_existing_tags:
    #### Add the line-ups data to the pstats dataset before more merges
    lups_bow_cols = ['tm', 'tm_abbr', 'name', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2']
    lups_bat_cols = ['tm', 'tm_abbr', 'name', 'battype', 'lpos']
    
    drop_cols_to_avoid_duplication = ['tm','tm_abbr','name']

    master_df_temp = pd.merge(master_df, lups[lups_bow_cols], how='left', left_on=['tm_bow','bow'], right_on=['tm_abbr','name'])
    master_df_tags = pd.merge(master_df_temp.drop(columns = drop_cols_to_avoid_duplication), lups[lups_bat_cols]\
                              , how='left', left_on=['tm_bat','bat'], right_on = ['tm_abbr','name'])

    print(master_df_tags.shape)
    print()
    print(master_df_tags.columns.values.tolist())
    
else:
    master_df_tags = master_df.copy()

(2980, 27)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'tm', 'tm_abbr', 'name', 'battype', 'lpos']

In [23]:

print(master_df_tags.shape)
print(master_df_tags['m.num'].unique().tolist())

(2980, 27)
[1, 7, 13, 17, 20, 26, 30, 37, 40, 44, 52, 57]

In [24]:

master_df_tags.describe()

,bat_order,b.num,tr,wkt,over,fpp,fmid,fdth,m.num,lpos
count,2980.000000,2980.000000,2980.000000,2980.000000,2980.000000,2980.000000,2980.000000,2980.000000,2980.000000,2028.000000
mean,3.775503,9.554530,1.382550,0.050336,10.195302,0.317450,0.500671,0.181879,29.050336,5.365878
std,2.254592,5.782893,1.743534,0.218673,5.772175,0.465562,0.500083,0.385810,16.953746,4.240461
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,4.500000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,17.000000,2.000000
50%,3.000000,9.500000,1.000000,0.000000,10.000000,0.000000,1.000000,0.000000,30.000000,5.000000
75%,5.000000,14.500000,2.000000,0.000000,15.000000,1.000000,1.000000,0.000000,44.000000,7.000000
max,12.000000,19.700000,6.000000,1.000000,20.000000,1.000000,1.000000,1.000000,57.000000,15.000000

In [25]:

#master_df_tags.bowlarm.unique()
master_df_tags.bowlcat.unique()

array(['Pace', 'Spin', nan], dtype=object)

In [26]:

groupbycols = ['tm_bat', 'bat', 'm.num','bat_order']

#bat_grouped_df = master_df.groupby(['bat_tm', 'batnum', 'bat', 'm.num'])
bat_grouped_df = master_df_tags.groupby(groupbycols) # batnum unique as the m.num per player

def custom_agg(group):
    data = {
        'tr': group['tr'].sum(),
        'tout': group['wkt'].sum(),
        'tinn': group['m.num'].nunique(),
        'tbf': group['b.num'].count(),
                
        'tr_pp': (group['fpp'] * group['tr']).sum(),
        'tr_mid': (group['fmid'] * group['tr']).sum(),
        'tr_dth': (group['fdth'] * group['tr']).sum(),
        
        'tout_pp': (group['wkt'] * group['fpp']).sum(),        
        'tout_mid': (group['wkt'] * group['fmid']).sum(),        
        'tout_dth': (group['wkt'] * group['fdth']).sum(),
        
        'tbf_pp': group['fpp'].sum(),
        'tbf_mid': group['fmid'].sum(),
        'tbf_dth': group['fdth'].sum(),        
        
        'tr_pace': group[group['bowlcat'] == 'Pace']['tr'].sum(),
        'tr_spin': group[group['bowlcat'] == 'Spin']['tr'].sum(),
        
        'tout_pace': group[group['bowlcat'] == 'Pace']['wkt'].sum(),
        'tout_spin': group[group['bowlcat'] == 'Spin']['wkt'].sum()
        
    }
    return pd.Series(data)

batting_match_level_df = bat_grouped_df.apply(custom_agg)

# Reset the index so that the primary key columns become regular columns
batting_match_level_df.reset_index(inplace=True)

In [27]:

#batting_match_level_df.sum()

In [28]:

print(batting_match_level_df.shape)
print(batting_match_level_df['m.num'].unique().tolist())

(231, 21)
[40, 57, 17, 1, 52, 20, 37, 30, 44, 7, 13, 26]

In [29]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [30]:

display(batting_match_level_df.head(25))

,tm_bat,bat,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin
0,CSK,DP Conway,40,2,92,0,1,54,23,53,16,0,0,0,15,29,10,45,47,0,0
1,CSK,MM Ali,40,4,10,1,1,6,0,10,0,0,0,1,0,5,1,5,5,0,1
2,CSK,MS Dhoni,40,6,13,0,1,4,0,0,13,0,0,0,0,0,4,13,0,0,0
3,CSK,RA Jadeja,40,5,12,1,1,10,0,0,12,0,0,1,0,0,10,9,3,1,0
4,CSK,RD Gaikwad,40,1,37,1,1,34,30,7,0,0,1,0,24,10,0,22,15,0,1
5,CSK,S Dube,40,3,28,1,1,19,0,28,0,0,1,0,0,19,0,16,12,1,0
6,DC,AR Patel,57,5,1,1,1,2,0,1,0,0,1,0,0,2,0,0,1,0,1
7,DC,Aman Hakim Khan,57,6,16,1,1,18,0,16,0,0,1,0,0,18,0,8,8,1,0
8,DC,DA Warner,57,1,54,1,1,27,48,6,0,0,1,0,21,6,0,43,11,0,1
9,DC,Kuldeep Yadav,57,9,10,0,1,17,0,1,9,0,0,0,0,2,15,10,0,0,0
10,DC,MK Pandey,57,7,0,1,1,3,0,0,0,0,1,0,0,3,0,0,0,0,1
11,DC,MR Marsh,57,3,3,1,1,4,0,3,0,0,1,0,0,4,0,0,3,0,1
12,DC,Mukesh Kumar,57,10,6,0,1,8,0,0,6,0,0,0,0,0,8,6,0,0,0
13,DC,P Dubey,57,8,16,1,1,20,0,15,1,0,0,1,0,18,2,9,7,1,0
14,DC,PD Salt,57,2,21,1,1,17,17,4,0,0,1,0,15,2,0,9,12,0,1
15,DC,RR Rossouw,57,4,5,1,1,7,0,5,0,0,1,0,0,7,0,0,5,0,1
16,GT,B Sai Sudharsan,17,3,19,1,1,20,5,14,0,0,1,0,4,16,0,8,11,1,0
17,GT,DA Miller,17,5,17,0,1,18,0,5,12,0,0,0,0,5,13,12,5,0,0
18,GT,HH Pandya,17,4,8,1,1,11,0,8,0,0,1,0,0,11,0,6,2,0,1
19,GT,R Tewatia,17,6,5,0,1,2,0,0,5,0,0,0,0,0,2,5,0,0,0
20,GT,Shubman Gill,17,2,67,1,1,49,20,32,15,0,0,1,13,28,8,35,32,1,0
21,GT,WP Saha,17,1,30,1,1,19,30,0,0,1,0,0,19,0,0,28,2,1,0
22,KKR,AD Russell,1,7,35,1,1,19,0,35,0,0,1,0,0,19,0,19,16,1,0
23,KKR,AD Russell,52,5,42,1,1,24,0,9,33,0,0,1,0,9,15,38,4,1,0
24,KKR,AS Roy,1,3,4,1,1,5,4,0,0,1,0,0,5,0,0,4,0,1,0

In [31]:

# Add points columns to the original DataFrame

#batting_match_level_df['f.cp.pts30'] = batting_match_level_df['tr'].apply(lambda x: 4 if x >= 30 else 0)
#batting_match_level_df['f.cp.pts50'] = batting_match_level_df['tr'].apply(lambda x: 8 if x >= 50 else 0)
#batting_match_level_df['f.cp.pts100'] = batting_match_level_df['tr'].apply(lambda x: 16 if x >= 100 else 0)
#batting_match_level_df['f.cp.pts0'] = batting_match_level_df['tr'].apply(lambda x: -2 if x == 0 else 0)

In [32]:

batting_match_level_df.describe()

,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin
count,231.000000,231.000000,231.000000,231.000000,231.0,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000
mean,28.549784,5.692641,17.835498,0.649351,1.0,12.900433,5.311688,8.670996,3.852814,0.164502,0.277056,0.207792,4.095238,6.458874,2.346320,11.025974,6.203463,0.415584,0.225108
std,17.376543,3.285791,22.015780,0.487217,0.0,13.985817,10.182585,14.518204,7.752979,0.371536,0.448516,0.406608,6.492773,9.748436,4.110588,13.606559,10.492531,0.502619,0.418561
min,1.000000,1.000000,0.000000,0.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,3.000000,1.000000,0.000000,1.0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,5.000000,10.000000,1.000000,1.0,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000
75%,42.000000,8.000000,25.500000,1.000000,1.0,19.000000,5.000000,12.000000,3.500000,0.000000,1.000000,0.000000,5.000000,10.500000,3.000000,17.000000,9.000000,1.000000,0.000000
max,57.000000,12.000000,103.000000,2.000000,1.0,68.000000,54.000000,66.000000,39.000000,1.000000,1.000000,1.000000,26.000000,40.000000,23.000000,89.000000,63.000000,2.000000,1.000000

In [33]:

print(batting_match_level_df.shape)
print()
print(batting_match_level_df.columns.values.tolist())

(231, 21)

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin']

### Batting Stats by Match

In [34]:

print(batting_match_level_df['m.num'].unique())

[40 57 17  1 52 20 37 30 44  7 13 26]

In [35]:

df_bat_transpose = batting_match_level_df.copy()
df_bat_transpose['game.num'] = 'G' + df_bat_transpose['m.num'].astype(str).str.zfill(2)

df_bat_transpose.sort_values(by = 'm.num', ascending = False)

batting_gwise = df_bat_transpose.pivot(index= ['tm_bat','bat'], columns= ['game.num'], values= ['tr']).reset_index()

# Fixing multi-level columns
#batting_gwise.columns = batting_gwise.columns.map(lambda x: f'{x[1]}.{x[0]}')

# Flatten only multi-level column index
batting_gwise.columns = batting_gwise.columns.map( lambda x: f'{x[0]}.{x[1]}' if len(x) > 1 else x[0] )

# Reset index
batting_gwise = batting_gwise.reset_index(drop = True).rename(columns = {'tm_bat.':'tm_bat','bat.':'bat'})

In [36]:

# Group by 'tm_bat', 'bat', 'bat_order' and count the occurrences
bat_order_counts = df_bat_transpose.groupby(['tm_bat', 'bat', 'bat_order']).size().reset_index(name='counts')


# Find the batting order with maximum count for each batsman
most_batted_position_idx = bat_order_counts.groupby(['tm_bat', 'bat'])['counts'].idxmax()

# Create a new DataFrame for most_batted_position using the idxmax result
most_batted_position = bat_order_counts.loc[most_batted_position_idx, ['tm_bat', 'bat', 'bat_order']].rename(columns={'bat_order': 'most_batted_position'})

# Merge most_batted_position into bat_order_counts
bat_order_counts = bat_order_counts.merge(most_batted_position, on=['tm_bat', 'bat'], how='left')


# Create a new column 'bat_order_counts' in the format 'bat_order(counts)'
bat_order_counts['bat_order_counts'] = bat_order_counts['bat_order'].astype(str) + "(" + bat_order_counts['counts'].astype(str) + ")"

# Group by 'tm_bat' and 'bat' and join all 'bat_order_counts' together separated by ', '
bat_order_counts = bat_order_counts.groupby(['tm_bat', 'bat']).agg({'bat_order_counts': ', '.join, 'most_batted_position': 'first'}).reset_index()

# Now merge this DataFrame with your original one
batting_gwise = pd.merge(batting_gwise, bat_order_counts, on=['tm_bat', 'bat'], how='left')

In [37]:

display(batting_gwise)

,tm_bat,bat,tr.G01,tr.G07,tr.G13,tr.G17,tr.G20,tr.G26,tr.G30,tr.G37,tr.G40,tr.G44,tr.G52,tr.G57,bat_order_counts,most_batted_position
0,CSK,DP Conway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN,2(1),2
1,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,4(1),4
2,CSK,MS Dhoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,6(1),6
3,CSK,RA Jadeja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,5(1),5
4,CSK,RD Gaikwad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,1(1),1
5,CSK,S Dube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,3(1),3
6,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5(1),5
7,DC,Aman Hakim Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6(1),6
8,DC,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,1(1),1
9,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9(1),9
10,DC,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7(1),7
11,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3(1),3
12,DC,Mukesh Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,10(1),10
13,DC,P Dubey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,8(1),8
14,DC,PD Salt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,2(1),2
15,DC,RR Rossouw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4(1),4
16,GT,B Sai Sudharsan,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
17,GT,DA Miller,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
18,GT,HH Pandya,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
19,GT,R Tewatia,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
20,GT,Shubman Gill,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
21,GT,WP Saha,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
22,KKR,AD Russell,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,NaN,"5(1), 7(1)",5
23,KKR,AS Roy,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
24,KKR,JJ Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,NaN,1(1),1
25,KKR,Mandeep Singh,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
26,KKR,N Rana,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,"3(1), 5(1)",3
27,KKR,RK Singh,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,6(2),6
28,KKR,Rahmanullah Gurbaz,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,2(2),2
29,KKR,SN Thakur,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8
30,KKR,SP Narine,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
31,KKR,VR Iyer,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,4(2),4
32,LSG,A Badoni,NaN,NaN,NaN,NaN,5.0,NaN,NaN,43.0,NaN,NaN,NaN,NaN,"3(1), 7(1)",3
33,LSG,DJ Hooda,NaN,NaN,NaN,NaN,2.0,NaN,NaN,11.0,NaN,NaN,NaN,NaN,"3(1), 6(1)",3
34,LSG,K Gowtham,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8
35,LSG,KH Pandya,NaN,NaN,NaN,NaN,18.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"4(1), 7(1)",4
36,LSG,KL Rahul,NaN,NaN,NaN,NaN,74.0,NaN,NaN,12.0,NaN,NaN,NaN,NaN,1(2),1
37,LSG,KR Mayers,NaN,NaN,NaN,NaN,29.0,NaN,NaN,54.0,NaN,NaN,NaN,NaN,2(2),2
38,LSG,MP Stoinis,NaN,NaN,NaN,NaN,15.0,NaN,NaN,72.0,NaN,NaN,NaN,NaN,"4(1), 6(1)",4
39,LSG,N Pooran,NaN,NaN,NaN,NaN,0.0,NaN,NaN,45.0,NaN,NaN,NaN,NaN,5(2),5
40,LSG,Ravi Bishnoi,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10(1),10
41,LSG,Yudhvir Singh,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
42,MI,C Green,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,23.0,NaN,NaN,"2(1), 3(1)",2
43,MI,Ishan Kishan,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,75.0,NaN,NaN,"2(1), 3(1)",2
44,MI,JC Archer,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,8(1),8
45,MI,N Wadhera,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,7(1),7
46,MI,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,0.0,NaN,NaN,1(2),1
47,MI,SA Yadav,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,66.0,NaN,NaN,4(2),4
48,MI,TH David,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,19.0,NaN,NaN,5(2),5
49,MI,Tilak Varma,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,26.0,NaN,NaN,6(2),6
50,PBKS,Arshdeep Singh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,"10(1), 11(3), 12(8)",12
51,PBKS,Atharva Taide,NaN,NaN,NaN,NaN,0.0,4.0,29.0,66.0,13.0,NaN,NaN,NaN,"1(2), 3(3)",3
52,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,12(1),12
53,PBKS,Harpreet Brar,0.0,0.0,1.0,8.0,6.0,13.0,5.0,NaN,0.0,0.0,17.0,2.0,"6(1), 8(5), 9(4), 10(1)",8
54,PBKS,Harpreet Singh,NaN,NaN,NaN,NaN,22.0,13.0,41.0,NaN,NaN,NaN,NaN,NaN,"4(1), 5(2)",5
55,PBKS,JM Sharma,21.0,27.0,4.0,25.0,2.0,41.0,25.0,24.0,21.0,49.0,21.0,5.0,"4(4), 5(3), 6(1), 7(4)",4
56,PBKS,K Rabada,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,"9(1), 10(2), 11(1)",10
57,PBKS,LS Livingstone,NaN,NaN,NaN,NaN,NaN,2.0,10.0,23.0,40.0,82.0,15.0,4.0,"3(1), 4(5), 5(1)",4
58,PBKS,M Shahrukh Khan,11.0,11.0,4.0,22.0,23.0,7.0,0.0,6.0,2.0,0.0,21.0,2.0,"6(1), 7(5), 8(5), 10(1)",7
59,PBKS,MW Short,NaN,NaN,1.0,36.0,34.0,8.0,11.0,NaN,NaN,27.0,NaN,NaN,"1(1), 2(4), 3(1)",2
60,PBKS,Mohit Rathee,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11(1),11
61,PBKS,NT Ellis,0.0,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,0.0,0.0,0.0,"6(1), 9(3), 10(3), 11(1)",9
62,PBKS,P Simran Singh,23.0,60.0,0.0,0.0,4.0,46.0,26.0,9.0,42.0,9.0,12.0,103.0,"1(9), 2(1), 3(2)",1
63,PBKS,PBB Rajapaksa,50.0,1.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,"3(3), 4(1)",3
64,PBKS,R Dhawan,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,19.0,0.0,"7(1), 9(1), 10(2), 12(2)",10
65,PBKS,RD Chahar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"9(3), 10(2), 11(6), 12(1)",11
66,PBKS,S Dhawan,40.0,86.0,99.0,8.0,NaN,NaN,NaN,1.0,28.0,30.0,57.0,7.0,"2(7), 3(2)",2
67,PBKS,SM Curran,26.0,1.0,22.0,22.0,6.0,10.0,55.0,21.0,29.0,0.0,4.0,20.0,"5(3), 6(7), 7(2)",6
68,PBKS,Sikandar Raza,16.0,1.0,5.0,NaN,57.0,NaN,NaN,36.0,13.0,NaN,NaN,11.0,"4(1), 5(3), 6(1), 8(2)",5
69,RCB,F du Plessis,NaN,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
70,RCB,GJ Maxwell,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
71,RCB,KD Karthik,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
72,RCB,MK Lomror,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
73,RCB,Shahbaz Ahmed,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
74,RCB,V Kohli,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
75,RR,D Padikkal,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
76,RR,Dhruv Jurel,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8
77,RR,JC Buttler,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
78,RR,JO Holder,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
79,RR,R Ashwin,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
80,RR,R Parag,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
81,RR,SO Hetmyer,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7
82,RR,SV Samson,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
83,RR,YBK Jaiswal,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
84,SRH,AK Markram,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
85,SRH,HC Brook,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
86,SRH,MA Agarwal,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
87,SRH,RA Tripathi,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3

In [38]:

#batting_gwise['l3tr.avg'] = batting_gwise.iloc[:, -3:].mean(axis=1).round(0)
#batting_gwise['l5tr.avg'] = batting_gwise.iloc[:, -5:].mean(axis=1).round(0)

# Find the columns that start with 'tr.'
tr_columns = [col for col in batting_gwise.columns if col.startswith('tr.')]

# Create new columns 'l3tr.avg' and 'l5tr.avg' by calculating the mean of the last 3 and last 5 'tr.' columns
batting_gwise['l3tr.avg'] = batting_gwise[tr_columns[-3:]].mean(axis=1).round(0)
batting_gwise['l5tr.avg'] = batting_gwise[tr_columns[-5:]].mean(axis=1).round(0)

In [39]:

print(batting_gwise.shape)
print()
print(batting_gwise.columns.values.tolist())

(88, 18)

['tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

In [40]:

display(batting_gwise)

,tm_bat,bat,tr.G01,tr.G07,tr.G13,tr.G17,tr.G20,tr.G26,tr.G30,tr.G37,tr.G40,tr.G44,tr.G52,tr.G57,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg
0,CSK,DP Conway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN,2(1),2,NaN,92.0
1,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,4(1),4,NaN,10.0
2,CSK,MS Dhoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,6(1),6,NaN,13.0
3,CSK,RA Jadeja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,5(1),5,NaN,12.0
4,CSK,RD Gaikwad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,1(1),1,NaN,37.0
5,CSK,S Dube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,3(1),3,NaN,28.0
6,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5(1),5,1.0,1.0
7,DC,Aman Hakim Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6(1),6,16.0,16.0
8,DC,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,1(1),1,54.0,54.0
9,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9(1),9,10.0,10.0
10,DC,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7(1),7,0.0,0.0
11,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3(1),3,3.0,3.0
12,DC,Mukesh Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,10(1),10,6.0,6.0
13,DC,P Dubey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,8(1),8,16.0,16.0
14,DC,PD Salt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,2(1),2,21.0,21.0
15,DC,RR Rossouw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4(1),4,5.0,5.0
16,GT,B Sai Sudharsan,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
17,GT,DA Miller,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
18,GT,HH Pandya,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
19,GT,R Tewatia,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
20,GT,Shubman Gill,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
21,GT,WP Saha,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
22,KKR,AD Russell,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,NaN,"5(1), 7(1)",5,42.0,42.0
23,KKR,AS Roy,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
24,KKR,JJ Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,NaN,1(1),1,38.0,38.0
25,KKR,Mandeep Singh,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
26,KKR,N Rana,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,"3(1), 5(1)",3,51.0,51.0
27,KKR,RK Singh,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,6(2),6,21.0,21.0
28,KKR,Rahmanullah Gurbaz,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,2(2),2,15.0,15.0
29,KKR,SN Thakur,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8,NaN,NaN
30,KKR,SP Narine,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
31,KKR,VR Iyer,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,4(2),4,11.0,11.0
32,LSG,A Badoni,NaN,NaN,NaN,NaN,5.0,NaN,NaN,43.0,NaN,NaN,NaN,NaN,"3(1), 7(1)",3,NaN,43.0
33,LSG,DJ Hooda,NaN,NaN,NaN,NaN,2.0,NaN,NaN,11.0,NaN,NaN,NaN,NaN,"3(1), 6(1)",3,NaN,11.0
34,LSG,K Gowtham,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8,NaN,NaN
35,LSG,KH Pandya,NaN,NaN,NaN,NaN,18.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,"4(1), 7(1)",4,NaN,5.0
36,LSG,KL Rahul,NaN,NaN,NaN,NaN,74.0,NaN,NaN,12.0,NaN,NaN,NaN,NaN,1(2),1,NaN,12.0
37,LSG,KR Mayers,NaN,NaN,NaN,NaN,29.0,NaN,NaN,54.0,NaN,NaN,NaN,NaN,2(2),2,NaN,54.0
38,LSG,MP Stoinis,NaN,NaN,NaN,NaN,15.0,NaN,NaN,72.0,NaN,NaN,NaN,NaN,"4(1), 6(1)",4,NaN,72.0
39,LSG,N Pooran,NaN,NaN,NaN,NaN,0.0,NaN,NaN,45.0,NaN,NaN,NaN,NaN,5(2),5,NaN,45.0
40,LSG,Ravi Bishnoi,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10(1),10,NaN,NaN
41,LSG,Yudhvir Singh,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
42,MI,C Green,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,23.0,NaN,NaN,"2(1), 3(1)",2,23.0,23.0
43,MI,Ishan Kishan,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,75.0,NaN,NaN,"2(1), 3(1)",2,75.0,75.0
44,MI,JC Archer,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,8(1),8,NaN,NaN
45,MI,N Wadhera,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,7(1),7,NaN,NaN
46,MI,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,0.0,NaN,NaN,1(2),1,0.0,0.0
47,MI,SA Yadav,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,66.0,NaN,NaN,4(2),4,66.0,66.0
48,MI,TH David,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,19.0,NaN,NaN,5(2),5,19.0,19.0
49,MI,Tilak Varma,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,26.0,NaN,NaN,6(2),6,26.0,26.0
50,PBKS,Arshdeep Singh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,"10(1), 11(3), 12(8)",12,0.0,0.0
51,PBKS,Atharva Taide,NaN,NaN,NaN,NaN,0.0,4.0,29.0,66.0,13.0,NaN,NaN,NaN,"1(2), 3(3)",3,NaN,40.0
52,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,12(1),12,NaN,0.0
53,PBKS,Harpreet Brar,0.0,0.0,1.0,8.0,6.0,13.0,5.0,NaN,0.0,0.0,17.0,2.0,"6(1), 8(5), 9(4), 10(1)",8,6.0,5.0
54,PBKS,Harpreet Singh,NaN,NaN,NaN,NaN,22.0,13.0,41.0,NaN,NaN,NaN,NaN,NaN,"4(1), 5(2)",5,NaN,NaN
55,PBKS,JM Sharma,21.0,27.0,4.0,25.0,2.0,41.0,25.0,24.0,21.0,49.0,21.0,5.0,"4(4), 5(3), 6(1), 7(4)",4,25.0,24.0
56,PBKS,K Rabada,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,"9(1), 10(2), 11(1)",10,NaN,0.0
57,PBKS,LS Livingstone,NaN,NaN,NaN,NaN,NaN,2.0,10.0,23.0,40.0,82.0,15.0,4.0,"3(1), 4(5), 5(1)",4,34.0,33.0
58,PBKS,M Shahrukh Khan,11.0,11.0,4.0,22.0,23.0,7.0,0.0,6.0,2.0,0.0,21.0,2.0,"6(1), 7(5), 8(5), 10(1)",7,8.0,6.0
59,PBKS,MW Short,NaN,NaN,1.0,36.0,34.0,8.0,11.0,NaN,NaN,27.0,NaN,NaN,"1(1), 2(4), 3(1)",2,27.0,27.0
60,PBKS,Mohit Rathee,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11(1),11,NaN,NaN
61,PBKS,NT Ellis,0.0,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,0.0,0.0,0.0,"6(1), 9(3), 10(3), 11(1)",9,0.0,0.0
62,PBKS,P Simran Singh,23.0,60.0,0.0,0.0,4.0,46.0,26.0,9.0,42.0,9.0,12.0,103.0,"1(9), 2(1), 3(2)",1,41.0,35.0
63,PBKS,PBB Rajapaksa,50.0,1.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,"3(3), 4(1)",3,0.0,0.0
64,PBKS,R Dhawan,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,19.0,0.0,"7(1), 9(1), 10(2), 12(2)",10,6.0,6.0
65,PBKS,RD Chahar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"9(3), 10(2), 11(6), 12(1)",11,0.0,0.0
66,PBKS,S Dhawan,40.0,86.0,99.0,8.0,NaN,NaN,NaN,1.0,28.0,30.0,57.0,7.0,"2(7), 3(2)",2,31.0,25.0
67,PBKS,SM Curran,26.0,1.0,22.0,22.0,6.0,10.0,55.0,21.0,29.0,0.0,4.0,20.0,"5(3), 6(7), 7(2)",6,8.0,15.0
68,PBKS,Sikandar Raza,16.0,1.0,5.0,NaN,57.0,NaN,NaN,36.0,13.0,NaN,NaN,11.0,"4(1), 5(3), 6(1), 8(2)",5,11.0,20.0
69,RCB,F du Plessis,NaN,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
70,RCB,GJ Maxwell,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
71,RCB,KD Karthik,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
72,RCB,MK Lomror,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
73,RCB,Shahbaz Ahmed,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
74,RCB,V Kohli,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
75,RR,D Padikkal,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
76,RR,Dhruv Jurel,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8,NaN,NaN
77,RR,JC Buttler,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
78,RR,JO Holder,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
79,RR,R Ashwin,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
80,RR,R Parag,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
81,RR,SO Hetmyer,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7,NaN,NaN
82,RR,SV Samson,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
83,RR,YBK Jaiswal,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
84,SRH,AK Markram,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
85,SRH,HC Brook,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
86,SRH,MA Agarwal,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
87,SRH,RA Tripathi,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN

### Bowling stats

In [41]:

display(master_df_tags[ (master_df_tags.fpp ==0) & (master_df_tags.fmid ==0) & (master_df_tags.fdth ==0) ].head())

Empty DataFrame
Columns: [bow, bat, bat_order, b.num, inning, tm_bat, tm_bow, city, date, competition, mtype, tr, wkt, over, fpp, fmid, fdth, m.num, bowltype, bowlarm, bowlcat, bowlcat.l2, tm, tm_abbr, name, battype, lpos]
Index: []

In [42]:

#QC
#master_df_tags.groupby(['fpp','fmid','fdth','m.num']).agg({'over':'nunique'})

In [43]:


### ROLLING UP THE DATASET
def custom_bowling_agg(group):
    data = {
        'tbb': group['b.num'].count(),
        'tbrc': group['tr'].sum(),
        'tbwkt': group['wkt'].sum(),
        'tbov': group['over'].nunique(),
        
        'tbwkt_pp': (group['fpp'] * group['wkt']).sum(),
        'tbwkt_mid': (group['fmid'] * group['wkt']).sum(),
        'tbwkt_dth': (group['fdth'] * group['wkt']).sum(),
        
        'tbov_pp': (group['fpp'] * group['over']).nunique(),
        'tbov_mid': (group['fmid'] * group['over']).nunique(),
        'tbov_dth': (group['fdth'] * group['over']).nunique(),
        
        'tbov_pp2': group[group['fpp'] == 1]['over'].nunique(),
        'tbov_mid2': group[group['fmid'] == 1]['over'].nunique(),
        'tbov_dth2': group[group['fdth'] == 1]['over'].nunique(),
        
        'tbrc_pp': (group['fpp'] * group['tr']).sum(),
        'tbrc_mid': (group['fmid'] * group['tr']).sum(),
        'tbrc_dth': (group['fdth'] * group['tr']).sum(),

        'tbwkt_rhb': (group[group['battype'] == 'RHB']['wkt']).sum(),
        'tbwkt_lhb': (group[group['battype'] == 'LHB']['wkt']).sum(),
        
        'tbov_rhb': (group[group['battype'] == 'RHB']['over']).nunique(),
        'tbov_lhb': (group[group['battype'] == 'LHB']['over']).nunique()
                }
    return pd.Series(data)

bow_grouped_df = master_df_tags.groupby(['tm_bow', 'bow', 'm.num'])

bowling_match_level_df_pre = bow_grouped_df.apply(custom_bowling_agg)
bowling_match_level_df_pre.reset_index(inplace=True)

print(master_df_tags.shape)
print(bowling_match_level_df_pre.shape)

(2980, 27)
(152, 23)

In [44]:

bowling_match_level_df_pre.describe()

,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,29.736842,19.335526,27.105263,0.986842,3.111842,0.250000,0.421053,0.315789,1.868421,2.302632,1.572368,0.953947,1.578947,0.578947,8.072368,13.177632,5.855263,0.592105,0.388158,2.723684,2.223684
std,17.077438,6.898454,11.960286,1.042074,1.076844,0.542865,0.741632,0.634766,0.819338,1.016679,0.705719,0.856133,1.136547,0.705009,7.707485,10.343826,7.631763,0.775069,0.609520,1.185996,1.348030
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,15.750000,18.750000,0.000000,2.750000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,5.750000,0.000000,0.000000,0.000000,2.000000,1.000000
50%,30.000000,21.500000,28.000000,1.000000,3.500000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,8.000000,12.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,44.000000,25.000000,34.000000,2.000000,4.000000,0.000000,1.000000,0.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.000000,15.000000,20.000000,11.000000,1.000000,1.000000,4.000000,3.000000
max,57.000000,29.000000,64.000000,4.000000,4.000000,2.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,2.000000,27.000000,49.000000,29.000000,4.000000,3.000000,4.000000,4.000000

In [45]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [46]:
#display(bowling_match_level_df_pre.head(25))

In [47]:

"""

print(master_df.shape)

# master_df for each phase of the game
powp_df = master_df[master_df['fpp'] == 1]
mid_df = master_df[master_df['fmid'] == 1]
dth_df = master_df[master_df['fdth'] == 1]

print(powp_df.shape)
print(mid_df.shape)
print(dth_df.shape)

# Group the DataFrames by the bowler, batting team, and match number
#powp_grouped = powp_df.groupby(['bow_tm', 'bow', 'm.num']).agg(tot_ov_powp = ('over_num','nunique')).reset_index()
powp_grouped = powp_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.powp'})
mid_grouped = mid_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.mid'})
dth_grouped = dth_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.dth'})

# Reset the index of bowling_match_level_df
#bow_grouped_df.reset_index()

bowling_match_level_df = bowling_match_level_df_pre.reset_index()

# Merge the unique overs bowled in each phase back to the bowling_match_level_df
bowling_match_level_df = bowling_match_level_df.merge(powp_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')
bowling_match_level_df = bowling_match_level_df.merge(mid_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')
bowling_match_level_df = bowling_match_level_df.merge(dth_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')

"""

"\n\nprint(master_df.shape)\n\n# master_df for each phase of the game\npowp_df = master_df[master_df['fpp'] == 1]\nmid_df = master_df[master_df['fmid'] == 1]\ndth_df = master_df[master_df['fdth'] == 1]\n\nprint(powp_df.shape)\nprint(mid_df.shape)\nprint(dth_df.shape)\n\n# Group the DataFrames by the bowler, batting team, and match number\n#powp_grouped = powp_df.groupby(['bow_tm', 'bow', 'm.num']).agg(tot_ov_powp = ('over_num','nunique')).reset_index()\npowp_grouped = powp_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.powp'})\nmid_grouped = mid_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.mid'})\ndth_grouped = dth_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.dth'})\n\n# Reset the index of bowling_match_level_df\n#bow_grouped_df.reset_index()\n\nbowling_match_level_df = bowling_match_level_df_pre.reset_index()\n\n# Merge the unique overs bowled in each phase back to the bowling_match_level_df\nbowling_match_level_df = bowling_match_level_df.merge(powp_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\nbowling_match_level_df = bowling_match_level_df.merge(mid_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\nbowling_match_level_df = bowling_match_level_df.merge(dth_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\n\n"

In [48]:

bowling_match_level_df = bowling_match_level_df_pre.copy()

print(bowling_match_level_df.columns.values.tolist())

['tm_bow', 'bow', 'm.num', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [49]:

# BOWLING

"""
bowling_match_level_df['f.cp.pts3w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 4 if x >= 3 else 0 )
bowling_match_level_df['f.cp.pts4w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 8 if x >= 4 else 0 )
bowling_match_level_df['f.cp.pts5w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 16 if x >= 5 else 0 )

bowling_match_level_df['tbecon'] = ( bowling_match_level_df['tbrc'] * 6 ) / bowling_match_level_df['tbb']

bowling_match_level_df['f.cp.ptsecon'] = bowling_match_level_df.apply(lambda x : (2*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) \
                                                            else ( (4*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) else 0 )\
                                                , axis =1)
"""

"\nbowling_match_level_df['f.cp.pts3w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 4 if x >= 3 else 0 )\nbowling_match_level_df['f.cp.pts4w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 8 if x >= 4 else 0 )\nbowling_match_level_df['f.cp.pts5w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 16 if x >= 5 else 0 )\n\nbowling_match_level_df['tbecon'] = ( bowling_match_level_df['tbrc'] * 6 ) / bowling_match_level_df['tbb']\n\nbowling_match_level_df['f.cp.ptsecon'] = bowling_match_level_df.apply(lambda x : (2*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6)                                                             else ( (4*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) else 0 )                                                , axis =1)\n"

In [50]:

display(bowling_match_level_df.head(3))

,tm_bow,bow,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
0,CSK,Akash Singh,40,19,34,0,3,0,0,0,3,2,1,2,1,0,24,10,0,0,0,3,3
1,CSK,M Pathirana,40,25,31,1,4,0,0,1,1,3,3,0,2,2,0,15,16,0,1,4,3
2,CSK,M Theekshana,40,25,34,0,4,0,0,0,3,3,1,2,2,0,20,14,0,0,0,4,4

In [51]:

bowling_match_level_df.describe()

,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,29.736842,19.335526,27.105263,0.986842,3.111842,0.250000,0.421053,0.315789,1.868421,2.302632,1.572368,0.953947,1.578947,0.578947,8.072368,13.177632,5.855263,0.592105,0.388158,2.723684,2.223684
std,17.077438,6.898454,11.960286,1.042074,1.076844,0.542865,0.741632,0.634766,0.819338,1.016679,0.705719,0.856133,1.136547,0.705009,7.707485,10.343826,7.631763,0.775069,0.609520,1.185996,1.348030
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,15.750000,18.750000,0.000000,2.750000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,5.750000,0.000000,0.000000,0.000000,2.000000,1.000000
50%,30.000000,21.500000,28.000000,1.000000,3.500000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,8.000000,12.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,44.000000,25.000000,34.000000,2.000000,4.000000,0.000000,1.000000,0.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.000000,15.000000,20.000000,11.000000,1.000000,1.000000,4.000000,3.000000
max,57.000000,29.000000,64.000000,4.000000,4.000000,2.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,2.000000,27.000000,49.000000,29.000000,4.000000,3.000000,4.000000,4.000000

In [52]:

# QC
# bowling_match_level_df[bowling_match_level_df['tov.powp'] == 4]

## Bowling By Match

In [53]:

df_bow_transpose = bowling_match_level_df.copy()
df_bow_transpose['game.num'] = 'G' + df_bow_transpose['m.num'].astype(str).str.zfill(2)

df_bow_transpose.sort_values(by = 'game.num', ascending = True)

bowling_gwise = df_bow_transpose.pivot( index= ['tm_bow','bow'], columns= ['game.num'], values= ['tbwkt'] ).reset_index()

# Fixing multi-level columns
#bowling_gwise.columns = bowling_gwise.columns.map(lambda x: f'{x[1]}.{x[0]}')

# Flatten only multi-level column index
bowling_gwise.columns = bowling_gwise.columns.map( lambda x: f'{x[0]}.{x[1]}' if len(x) > 1 else x[0] )

# Reset index
bowling_gwise = bowling_gwise.reset_index(drop = True).rename(columns = {'tm_bow.':'tm_bow','bow.':'bow'})

In [54]:

bowling_gwise['l3wkts.avg'] = bowling_gwise.iloc[:, -3:].mean(axis=1).round(1)
bowling_gwise['l5wkts.avg'] = bowling_gwise.iloc[:, -5:].mean(axis=1).round(1)

In [55]:

print(bowling_gwise.shape)
print()
print(bowling_gwise.columns.values.tolist())

(78, 16)

['tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg']

In [56]:

display(bowling_gwise)

,tm_bow,bow,tbwkt.G01,tbwkt.G07,tbwkt.G13,tbwkt.G17,tbwkt.G20,tbwkt.G26,tbwkt.G30,tbwkt.G37,tbwkt.G40,tbwkt.G44,tbwkt.G52,tbwkt.G57,l3wkts.avg,l5wkts.avg
0,CSK,Akash Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
1,CSK,M Pathirana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
2,CSK,M Theekshana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
3,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
4,CSK,RA Jadeja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
5,CSK,TU Deshpande,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0
6,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
7,DC,I Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0
8,DC,KK Ahmed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
9,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
10,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
11,DC,Mukesh Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
12,DC,P Dubey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
13,GT,AS Joseph,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,GT,J Little,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,GT,MM Sharma,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,GT,Mohammed Shami,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,GT,Rashid Khan,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,KKR,AD Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
19,KKR,CV Varun,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,3.0
20,KKR,Harshit Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,2.0
21,KKR,N Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
22,KKR,SN Thakur,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,KKR,SP Narine,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
24,KKR,Suyash Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
25,KKR,TG Southee,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,KKR,UT Yadav,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,KKR,VG Arora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
28,LSG,A Badoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
29,LSG,A Mishra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
30,LSG,Avesh Khan,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
31,LSG,K Gowtham,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,LSG,KH Pandya,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
33,LSG,KR Mayers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
34,LSG,MA Wood,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,LSG,MP Stoinis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
36,LSG,Naveen-ul-Haq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
37,LSG,Ravi Bishnoi,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
38,LSG,Yash Thakur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
39,LSG,Yudhvir Singh,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,MI,Akash Madhwal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
41,MI,Arjun Tendulkar,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,MI,Arshad Khan (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0
43,MI,C Green,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,0.0,0.0
44,MI,HR Shokeen,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,MI,JC Archer,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0.0,0.0
46,MI,JP Behrendorff,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,MI,K Kartikeya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
48,MI,PP Chawla,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,2.0
49,PBKS,Arshdeep Singh,3.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0.7,0.7
50,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
51,PBKS,Harpreet Brar,0.0,0.0,0.0,1.0,1.0,2.0,0.0,NaN,NaN,0.0,1.0,4.0,1.7,1.7
52,PBKS,K Rabada,NaN,NaN,NaN,1.0,2.0,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,0.0
53,PBKS,LS Livingstone,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,NaN,0.0,NaN,0.0,0.0
54,PBKS,MW Short,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,PBKS,Mohit Rathee,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,PBKS,NT Ellis,1.0,4.0,0.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,1.0,2.0,1.7,1.7
57,PBKS,R Dhawan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.3,0.3
58,PBKS,RD Chahar,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2.0,1.3,1.3
59,PBKS,SM Curran,1.0,1.0,0.0,1.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.2
60,PBKS,Sikandar Raza,1.0,0.0,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.3
61,RCB,GJ Maxwell,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,RCB,HV Patel,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,RCB,Mohammed Siraj,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,RCB,PWH de Silva,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,RCB,Vijaykumar Vyshak,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,RCB,WD Parnell,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,RR,JO Holder,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,RR,KM Asif,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,RR,R Ashwin,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,RR,TA Boult,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,RR,YS Chahal,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,SRH,B Kumar,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,SRH,M Jansen,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,SRH,M Markande,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,SRH,T Natarajan,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,SRH,Umran Malik,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,SRH,Washington Sundar,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## MERGE

In [57]:

print(batting_match_level_df.reset_index(drop = True).columns.values.tolist())
print()

print(bowling_match_level_df.reset_index(drop = True).columns.values.tolist())
print()

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin']

['tm_bow', 'bow', 'm.num', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [58]:

### MERGE BAT AND BOW DF

# Reset the index for both DataFrames to prepare for merging
batmldf = batting_match_level_df.reset_index(drop = True)
bowmldf = bowling_match_level_df.reset_index(drop = True)

#dropcols = ['tm_bow','bow']
dropcols = []

# Merge the batting figures with the bowling stats
merged_predf = pd.merge( batmldf, bowmldf, 
                     left_on=['tm_bat', 'bat', 'm.num'],
                     right_on=['tm_bow', 'bow', 'm.num'],
                     how='outer', 
                     suffixes=('_bat', '_bowl'))#.rename(columns = {'bat_tm':'tm', 'bat':'name' }).drop(columns = dropcols)

print(merged_predf.shape)
print(merged_predf.columns.values.tolist())

# Replace NaN values with 0 in the merged DataFrame
#merged_predf.fillna(0, inplace=True)

(280, 43)
['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin', 'tm_bow', 'bow', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [59]:

# Run only once

# Function to combine two columns with condition
def combine_columns(row, col1, col2):
    return row[col1] if pd.notna(row[col1]) and row[col1] != '' else row[col2]

# Create a new column using the custom function
merged_predf['tm'] = merged_predf.apply(lambda row: combine_columns(row, 'tm_bat', 'tm_bow'), axis=1)
merged_predf['name'] = merged_predf.apply(lambda row: combine_columns(row, 'bat', 'bow'), axis=1)

In [60]:

display(merged_predf.tail(5))

,tm_bat,bat,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin,tm_bow,bow,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb,tm,name
275,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRH,M Jansen,19.0,15.0,2.0,3.0,2.0,0.0,0.0,3.0,1.0,1.0,3.0,0.0,0.0,15.0,0.0,0.0,2.0,0.0,2.0,2.0,SRH,M Jansen
276,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRH,M Markande,24.0,15.0,4.0,4.0,0.0,4.0,0.0,1.0,4.0,1.0,0.0,4.0,0.0,0.0,15.0,0.0,3.0,1.0,4.0,4.0,SRH,M Markande
277,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRH,T Natarajan,24.0,40.0,0.0,4.0,0.0,0.0,0.0,2.0,3.0,2.0,1.0,2.0,1.0,8.0,24.0,8.0,0.0,0.0,0.0,4.0,SRH,T Natarajan
278,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRH,Umran Malik,25.0,31.0,2.0,4.0,0.0,2.0,0.0,1.0,4.0,2.0,0.0,3.0,1.0,0.0,14.0,17.0,1.0,1.0,3.0,3.0,SRH,Umran Malik
279,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRH,Washington Sundar,6.0,6.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1.0,SRH,Washington Sundar

In [61]:

#merged_df.to_csv(exp_location + 'merged.csv', index = False)

In [62]:

print(merged_predf.columns.values.tolist())

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin', 'tm_bow', 'bow', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb', 'tm', 'name']

### MAIN RUP

In [63]:

#### Rollup at a Player Level

# Replace NaN values with False in the mask
mask = merged_predf.tm.str.contains(team_for_code).fillna(False)

# Apply the mask to filter the DataFrame
#merged_for_team_only = merged_df[merged_df.tm.str.contains(team_for_code)]
merged_for_team_only = merged_predf[mask]

pstats = merged_for_team_only.groupby(['tm', 'name']).agg({
    #'lpos': np.min,
    'm.num': 'nunique',
    'tr': 'sum',
    'tout': 'sum',
    'tbf': 'sum',
    
    #'tbinn': 'sum',
    'tr_pp': 'sum',
    'tr_mid': 'sum',
    'tr_dth': 'sum',
    
    'tr_pace': 'sum',
    'tr_spin': 'sum',
    
    'tout_pp': 'sum',
    'tout_mid': 'sum',
    'tout_dth': 'sum',
    
    'tout_pace': 'sum',
    'tout_spin' : 'sum', 
    
    'tbf_pp': 'sum',
    'tbf_mid': 'sum',
    'tbf_dth': 'sum',
    
    
    #'f.cp.pts30': 'sum',
    #'f.cp.pts50': 'sum',
    #'f.cp.pts100': 'sum',
    #'f.cp.pts0': 'sum',
    
    'tbwkt': 'sum',
    'tbov': 'sum',
    'tbrc': 'sum',
    'tbb': 'sum',
    
    'tbwkt_pp': 'sum',
    'tbwkt_mid': 'sum',
    'tbwkt_dth': 'sum',
    
    'tbov_pp':'sum', 
    'tbov_mid':'sum', 
    'tbov_dth':'sum',
    
    'tbov_rhb': 'sum',
    'tbov_lhb': 'sum',
    
    'tbwkt_rhb':'sum',
    'tbwkt_lhb':'sum',
    
    'tbrc_pp': 'sum',
    'tbrc_mid': 'sum',
    'tbrc_dth': 'sum'    
    
}).reset_index().rename(columns = {'lpos' : 'batnum_min', 'm.num':'tinn'})

print(pstats.shape)

(19, 36)

In [64]:

print(pstats.columns.values.tolist())

['tm', 'name', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth']

In [65]:

if with_pre_existing_tags:
    #### Add the line-ups data to the pstats dataset before more merges

    lups = pd.read_excel(loc_lups + 'Tags.xlsx')

    print(lups.shape)
    print(lups.columns.values.tolist())

    lpstats = pd.merge(lups, pstats, how = 'right', left_on = ['tm_abbr','name'], right_on = ['tm','name'])

    print(lpstats.shape)
    print()
    print(lpstats.columns.values.tolist())
    
else:
    lpstats = pstats.copy()

(187, 10)
['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']
(19, 45)

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth']

In [66]:
# Now check the gwise battin and bowling stats to append to pstats

In [67]:

print(batting_gwise.columns.values.tolist())
print()
print(bowling_gwise.columns.values.tolist())
print()

['tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

['tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg']

In [68]:

# Merge the batting & bowling gwise stats
merged_interim_df1 = pd.merge( lpstats, batting_gwise,
                     left_on=['tm_abbr', 'name'],
                     right_on=['tm_bat', 'bat'],
                     how='left' )

print()
print(merged_interim_df1.shape)
print(merged_interim_df1.columns.values.tolist())


# Merge the batting & bowling gwise stats
merged_interim_df2 = pd.merge( merged_interim_df1, bowling_gwise, 
                     left_on=['tm_abbr', 'name'],
                     right_on=['tm_bow', 'bow'],
                     how='left' )

print()
print(merged_interim_df2.shape)
print(merged_interim_df2.columns.values.tolist())

(19, 63)
['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

(19, 79)
['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg']

In [69]:

print(merged_interim_df2.tm_abbr.unique())

['PBKS']

In [70]:

display(merged_interim_df2.head(5))

,tm_x,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,tm_y,tinn,tr,tout,tbf,tr_pp,tr_mid,tr_dth,tr_pace,tr_spin,tout_pp,tout_mid,tout_dth,tout_pace,tout_spin,tbf_pp,tbf_mid,tbf_dth,tbwkt,tbov,tbrc,tbb,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_rhb,tbov_lhb,tbwkt_rhb,tbwkt_lhb,tbrc_pp,tbrc_mid,tbrc_dth,tm_bat,bat,tr.G01,tr.G07,tr.G13,tr.G17,tr.G20,tr.G26,tr.G30,tr.G37,tr.G40,tr.G44,tr.G52,tr.G57,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg,tm_bow,bow,tbwkt.G01,tbwkt.G07,tbwkt.G13,tbwkt.G17,tbwkt.G20,tbwkt.G26,tbwkt.G30,tbwkt.G37,tbwkt.G40,tbwkt.G44,tbwkt.G52,tbwkt.G57,l3wkts.avg,l5wkts.avg
0,Punjab Kings,PBKS,Arshdeep Singh,Arshdeep Singh,LHB,LAFM,Left,Pace,fast-medium,11.0,PBKS,12,2.0,0.0,13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,2.0,17.0,45.0,418.0,283.0,6.0,3.0,8.0,32.0,22.0,27.0,40.0,29.0,7.0,10.0,191.0,88.0,139.0,PBKS,Arshdeep Singh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,"10(1), 11(3), 12(8)",12,0.0,0.0,PBKS,Arshdeep Singh,3.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0.7,0.7
1,Punjab Kings,PBKS,Atharva Taide,Atharva Taide,LHB,LAO,Left,Spin,orthodox,12.0,PBKS,5,112.0,5.0,81.0,60.0,52.0,0.0,78.0,34.0,2.0,3.0,0.0,2.0,3.0,40.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,PBKS,Atharva Taide,NaN,NaN,NaN,NaN,0.0,4.0,29.0,66.0,13.0,NaN,NaN,NaN,"1(2), 3(3)",3,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Punjab Kings,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,15.0,PBKS,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,39.0,21.0,0.0,0.0,0.0,3.0,2.0,1.0,3.0,2.0,0.0,0.0,17.0,22.0,0.0,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,12(1),12,NaN,0.0,PBKS,Gurnoor Brar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Punjab Kings,PBKS,Harpreet Brar,Harpreet Brar,LHB,LAO,Left,Spin,orthodox,8.0,PBKS,11,52.0,6.0,45.0,0.0,12.0,40.0,42.0,10.0,0.0,1.0,5.0,5.0,1.0,4.0,14.0,27.0,9.0,25.0,178.0,146.0,0.0,7.0,2.0,18.0,22.0,12.0,24.0,12.0,6.0,3.0,74.0,92.0,12.0,PBKS,Harpreet Brar,0.0,0.0,1.0,8.0,6.0,13.0,5.0,NaN,0.0,0.0,17.0,2.0,"6(1), 8(5), 9(4), 10(1)",8,6.0,5.0,PBKS,Harpreet Brar,0.0,0.0,0.0,1.0,1.0,2.0,0.0,NaN,NaN,0.0,1.0,4.0,1.7,1.7
4,Punjab Kings,PBKS,Harpreet Singh,"Harpreet Bhatia, Harpreet Singh",LHB,RAM,Right,Pace,medium,15.0,PBKS,3,76.0,2.0,59.0,18.0,51.0,7.0,49.0,27.0,0.0,1.0,1.0,1.0,1.0,16.0,39.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,PBKS,Harpreet Singh,NaN,NaN,NaN,NaN,22.0,13.0,41.0,NaN,NaN,NaN,NaN,NaN,"4(1), 5(2)",5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Percentage split

In [71]:

pct_splits = merged_interim_df2.copy()

In [72]:

pct_splits['tr%.pp'] = round(100*pct_splits['tr_pp'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.mid'] = round(100*pct_splits['tr_mid'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.dth'] = round(100*pct_splits['tr_dth'] / ( pct_splits['tr'] ),0)

pct_splits['tr%.pace'] = round(100*pct_splits['tr_pace'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.spin'] = round(100*pct_splits['tr_spin'] / ( pct_splits['tr'] ),0)

In [73]:

pct_splits['tbwkt%.pp'] = round(100*pct_splits['tbwkt_pp'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.mid'] = round(100*pct_splits['tbwkt_mid'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.dth'] = round(100*pct_splits['tbwkt_dth'] / ( pct_splits['tbwkt'] ),0)

pct_splits['tbwkt%.lhb'] = round(100*pct_splits['tbwkt_lhb'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.rhb'] = round(100*pct_splits['tbwkt_rhb'] / ( pct_splits['tbwkt'] ),0)

In [74]:

pct_splits['tbov%.pp'] = round(100*pct_splits['tbov_pp'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.mid'] = round(100*pct_splits['tbov_mid'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.dth'] = round(100*pct_splits['tbov_dth'] / ( pct_splits['tbov'] ),0)

pct_splits['tbov%.rhb'] = round(100*pct_splits['tbov_rhb'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.lhb'] = round(100*pct_splits['tbov_lhb'] / ( pct_splits['tbov'] ),0)

In [75]:

print(pct_splits.shape)
print()
print(pct_splits.columns.values.tolist())
print()

(19, 94)

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [76]:

pdetails = ['name','bowltype','bowlarm','bowlcat']

tr_phs = ['tr_pp','tr_mid','tr_dth']
tbf_phs = ['tbf_pp','tbf_mid','tbf_dth']
tout_phs = ['tout_pp','tout_mid','tout_dth']

tbov_phs = ['tbov.powp','tbov.mid','tbov.dth']
tbwkt_phs = ['tbwkt_powp','tbwkt_mid','tbwkt_dth']
tbrc_phs = ['tbrc_powp','tbrc_mid','tbrc_dth']

#f_cp = ['f.cp.pts30', 'f.cp.pts50', 'f.cp.pts100', 'f.cp.pts0']

misc = ['tm_bat','bat','tm_bow','bow']

In [77]:

print(pct_splits.columns.values.tolist())

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [78]:

#col_move = 'tr'
#col_behind = 'tr%.dth'

"""
move_cols_dict = {'tinn':'tbrc_dth'
                  , 'tout':'tinn'                  
                  , 'tr':'l5tr.avg'
                  , ['tr_pace', 'tr_spin']:'tr'                  
                  , 'tbwkt':'l5wkts.avg'
                  , ['wkts_pp', 'wkts_mid', 'wkts_dth']:'tbwkt'                  
                  , ['tbwkt_rhb', 'tbwkt_lhb']:'tbwkt'                  
                  , 'tbov':'tbwkt_lhb'
                  , ['tbov_pp', 'tbov_mid', 'tbov_dth']:'tbov'
                  , ['tbov_rhb', 'tbov_lhb']:'tbov_dth'
                 }

for key,value in move_cols_dict.items():
    if isinstance(key, list):  # if key is a list, iterate over each item in the list
        for col in key:
            col_data = pct_splits.pop(str(col))
            col_behind_index = pct_splits.columns.get_loc(str(value))
            pct_splits.insert(col_behind_index + 1, str(col), col_data)
    else:
        col_data = pct_splits.pop(str(key))
        col_behind_index = pct_splits.columns.get_loc(str(value))
        pct_splits.insert(col_behind_index + 1, str(key), col_data)
"""

"\nmove_cols_dict = {'tinn':'tbrc_dth'\n                  , 'tout':'tinn'                  \n                  , 'tr':'l5tr.avg'\n                  , ['tr_pace', 'tr_spin']:'tr'                  \n                  , 'tbwkt':'l5wkts.avg'\n                  , ['wkts_pp', 'wkts_mid', 'wkts_dth']:'tbwkt'                  \n                  , ['tbwkt_rhb', 'tbwkt_lhb']:'tbwkt'                  \n                  , 'tbov':'tbwkt_lhb'\n                  , ['tbov_pp', 'tbov_mid', 'tbov_dth']:'tbov'\n                  , ['tbov_rhb', 'tbov_lhb']:'tbov_dth'\n                 }\n\nfor key,value in move_cols_dict.items():\n    if isinstance(key, list):  # if key is a list, iterate over each item in the list\n        for col in key:\n            col_data = pct_splits.pop(str(col))\n            col_behind_index = pct_splits.columns.get_loc(str(value))\n            pct_splits.insert(col_behind_index + 1, str(col), col_data)\n    else:\n        col_data = pct_splits.pop(str(key))\n        col_behind_index = pct_splits.columns.get_loc(str(value))\n        pct_splits.insert(col_behind_index + 1, str(key), col_data)\n"

In [93]:

# List of tuples: ([columns to move], target column)
move_cols_list = [(['tinn'], 'tbrc_dth'),
                  (['tout','tout_pp','tout_mid','tout_dth','tout_pace','tout_spin'], 'tinn'),
                  
                  (['tr','tr_pp','tr_mid','tr_dth','tr_pace', 'tr_spin'], 'l5tr.avg'),
                  (['tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin'], 'tr_spin'),
                  
                  (['tbwkt', 'tbwkt_pp', 'tbwkt_mid','tbwkt_dth', 'tbwkt_rhb', 'tbwkt_lhb'], 'l5wkts.avg'),
                  (['tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb'], 'tbwkt_lhb'),
                  
                  (['tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp', 'tbov_lhb', 'tbov_rhb'], 'tbwkt%.rhb'),
                  (['tbov%.pp', 'tbov%.mid','tbov%.dth', 'tbov%.rhb', 'tbov%.lhb'], 'tbov_rhb')
                 ]


# Iterate over the list
for cols, target in move_cols_list:
    for col in reversed(cols):
        col_data = pct_splits.pop(col)
        target_index = pct_splits.columns.get_loc(target)
        pct_splits.insert(target_index + 1, col, col_data)
    #print(pct_splits.columns.values.tolist())
    #print(col)
    #print()

In [94]:

display(pct_splits.head(2))

,tm_x,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,tm_y,tbf,tbf_pp,tbf_mid,tbf_dth,tbrc,tbb,tbrc_pp,tbrc_mid,tbrc_dth,tinn,tout,tout_pp,tout_mid,tout_dth,tout_pace,tout_spin,tm_bat,bat,tr.G01,tr.G07,tr.G13,tr.G17,tr.G20,tr.G26,tr.G30,tr.G37,tr.G40,tr.G44,tr.G52,tr.G57,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg,tr,tr_pp,tr_mid,tr_dth,tr_pace,tr_spin,tr%.pp,tr%.mid,tr%.dth,tr%.pace,tr%.spin,tm_bow,bow,tbwkt.G01,tbwkt.G07,tbwkt.G13,tbwkt.G17,tbwkt.G20,tbwkt.G26,tbwkt.G30,tbwkt.G37,tbwkt.G40,tbwkt.G44,tbwkt.G52,tbwkt.G57,l3wkts.avg,l5wkts.avg,tbwkt,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbwkt_rhb,tbwkt_lhb,tbwkt%.pp,tbwkt%.mid,tbwkt%.dth,tbwkt%.lhb,tbwkt%.rhb,tbov,tbov_dth,tbov_mid,tbov_pp,tbov_lhb,tbov_rhb,tbov%.pp,tbov%.mid,tbov%.dth,tbov%.rhb,tbov%.lhb
0,Punjab Kings,PBKS,Arshdeep Singh,Arshdeep Singh,LHB,LAFM,Left,Pace,fast-medium,11.0,PBKS,13.0,11.0,0.0,2.0,418.0,283.0,191.0,88.0,139.0,12,0.0,0.0,0.0,0.0,0.0,0.0,PBKS,Arshdeep Singh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,"10(1), 11(3), 12(8)",12,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,100.0,100.0,0.0,PBKS,Arshdeep Singh,3.0,2.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0.7,0.7,17.0,6.0,3.0,8.0,7.0,10.0,35.0,18.0,47.0,59.0,41.0,45.0,27.0,22.0,32.0,29.0,40.0,71.0,49.0,60.0,89.0,64.0
1,Punjab Kings,PBKS,Atharva Taide,Atharva Taide,LHB,LAO,Left,Spin,orthodox,12.0,PBKS,81.0,40.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5.0,2.0,3.0,0.0,2.0,3.0,PBKS,Atharva Taide,NaN,NaN,NaN,NaN,0.0,4.0,29.0,66.0,13.0,NaN,NaN,NaN,"1(2), 3(3)",3,NaN,40.0,112.0,60.0,52.0,0.0,78.0,34.0,54.0,46.0,0.0,70.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [95]:

print(pct_splits.columns.values.tolist())

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tbf', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbrc', 'tbb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tinn', 'tout', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tm_bat', 'bat', 'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30', 'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tr', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tm_bow', 'bow', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13', 'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37', 'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg', 'l5wkts.avg', 'tbwkt', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp', 'tbov_lhb', 'tbov_rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [96]:

#dfexp = pct_splits.drop(columns = pdetails + tr_phs + tbf_phs + tout_phs + tbov_phs + tbwkt_phs + tbrc_phs + f_cp + misc)
dfexp = pct_splits.copy().drop(columns = misc)

In [97]:

## Add columns helpful for analysis

dfexp['tr_tinn_ratio'] = np.round(dfexp['tr'] / dfexp['tinn'],0)
dfexp['4xtbwkt_tbov_ratio'] = np.round(4*dfexp['tbwkt'] / dfexp['tbov'],1)

In [98]:

if with_pre_existing_tags:
    exp_file = f'pstats_v01_{team_for_code}_fyml.xlsx'
    dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = [True, False]).to_excel(loc_exp + exp_file, index = False)
else:
    exp_file = f'pstats_v01_wo_tags_{team_for_code}_fyml.xlsx'
    dfexp.sort_values(by = ['tinn'], ascending = False).to_excel(loc_exp + exp_file, index = False)

In [99]:

dfexp_transpose = dfexp.transpose()

In [100]:

dfexp_transpose.index

Index(['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm',
       'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tbf', 'tbf_pp', 'tbf_mid',
       'tbf_dth', 'tbrc', 'tbb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tinn',
       'tout', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin',
       'tr.G01', 'tr.G07', 'tr.G13', 'tr.G17', 'tr.G20', 'tr.G26', 'tr.G30',
       'tr.G37', 'tr.G40', 'tr.G44', 'tr.G52', 'tr.G57', 'bat_order_counts',
       'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tr', 'tr_pp', 'tr_mid',
       'tr_dth', 'tr_pace', 'tr_spin', 'tr%.pp', 'tr%.mid', 'tr%.dth',
       'tr%.pace', 'tr%.spin', 'tbwkt.G01', 'tbwkt.G07', 'tbwkt.G13',
       'tbwkt.G17', 'tbwkt.G20', 'tbwkt.G26', 'tbwkt.G30', 'tbwkt.G37',
       'tbwkt.G40', 'tbwkt.G44', 'tbwkt.G52', 'tbwkt.G57', 'l3wkts.avg',
       'l5wkts.avg', 'tbwkt', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth',
       'tbwkt_rhb', 'tbwkt_lhb', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth',
       'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp',
       'tbov_lhb', 'tbov_rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth',
       'tbov%.rhb', 'tbov%.lhb', 'tr_tinn_ratio', '4xtbwkt_tbov_ratio'],
      dtype='object')

In [101]:

if with_pre_existing_tags:
    dfexp_transpose = dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = [True, False]).transpose()
    index_dict ={
        'tm': 'team',
        'name': 'player_name',
        'fname': 'full_name',
        'battype': 'battter_type',
        'bowltype': 'bowler_type',
        'bowlarm': 'bowling_arm',
        'bowlcat': 'bowling_type',
        'bowlcat.l2': 'bowling_type_deep',
        'lpos': 'last_known_playing_pos',
        'batnum_min': 'batting_order',
        'tbf': 't_balls_faced',
        'tr_pp': 'runs_pp',
        'tbf_pp': 'balls_faced_pp',
        'tout_pp': 'outs_pp',
        'tr_mid': 'runs_mid',
        'tbf_mid': 'balls_faced_mid',
        'tout_mid': 'outs_mid',
        'tr_dth': 'runs_dth',
        'tbf_dth': 'balls_faced_dth',
        'tout_dth': 'outs_dth',
        'f.cp.pts30': 'fantasy_pts_30',
        'f.cp.pts50': 'fantasy_pts_50',
        'f.cp.pts100': 'fantasy_pts_100',
        'f.cp.pts0': 'fantasy_pts_0',
        'tbb': 't_balls_bowled',
        'tbrc': 't_runs_conceded',
        'tbov.pp': 'overs_bowled_pp',
        'tbov.mid': 'overs_bowled_mid',
        'tbov.dth': 'overs_bowled_dth',
        'tbrc_pp': 'runs_conceded_pp',
        'tbrc_mid': 'runs_conceded_mid',
        'tbrc_dth': 'runs_conceded_dth',
        'tbwkt_pp': 'wkts_pp',
        'tbwkt_mid': 'wkts_mid',
        'tbwkt_dth': 'wkts_dth',
        'bat_tm': 'batting_team',
        'bat': 'batsman',
        'bow_tm': 'bowling_team',
        'bow': 'bowler',
        'tr%.pp': 'runmix_%_pp',
        'tr%.mid': 'runmix_%_mid',
        'tr%.dth': 'runmix_%_dth',
        'tr': 't_runs',
        'tinn': 't_innings',
        'tbov%.pp': 'overmix_%_pp',
        'tbov%.mid': 'overmix_%_rate_mid',
        'tbov%.dth': 'overmix_%_rate_dth',
        'tbwkt%.pp': 'wicketmix_%_rate_pp',
        'tbwkt%.mid': 'wicketmix_%_rate_mid',
        'tbwkt%.dth': 'wicketmix_%_rate_dth',
        'tbwkt': 'total_wickets',
        'tbov': 'total_overs_bowled',
        'tr_tinn_ratio': 'runs_innings_ratio',
        '4xtbwktotal_tbov_ratio': 'four_times_wickets_overs_bowled_ratio' }
    dfexp_transpose.rename(index=index_dict, inplace=True)
else:
    dfexp_transpose = dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = False).transpose()
    index_dict ={
        'tm': 'team',
        'name': 'player_name',
        'batnum_min': 'batting_order',
        'tbf': 't_balls_faced',
        'tr_pp': 'runs_pp',
        'tbf_pp': 'balls_faced_pp',
        'tout_pp': 'outs_pp',
        'tr_mid': 'runs_mid',
        'tbf_mid': 'balls_faced_mid',
        'tout_mid': 'outs_mid',
        'tr_dth': 'runs_dth',
        'tbf_dth': 'balls_faced_dth',
        'tout_dth': 'outs_dth',
        'f.cp.pts30': 'fantasy_pts_30',
        'f.cp.pts50': 'fantasy_pts_50',
        'f.cp.pts100': 'fantasy_pts_100',
        'f.cp.pts0': 'fantasy_pts_0',
        'tbb': 't_balls_bowled',
        'tbrc': 't_runs_conceded',
        'tbov.powp': 'overs_bowled_pp',
        'tbov.mid': 'overs_bowled_mid',
        'tbov.dth': 'overs_bowled_dth',
        'tbrc_pp': 'runs_conceded_pp',
        'tbrc_mid': 'runs_conceded_mid',
        'tbrc_dth': 'runs_conceded_dth',
        'tbwkt_pp': 'wkts_pp',
        'tbwkt_mid': 'wkts_mid',
        'tbwkt_dth': 'wkts_dth',
        'bat_tm': 'batting_team',
        'bat': 'batsman',
        'bow_tm': 'bowling_team',
        'bow': 'bowler',
        'tr%.pp': 'runmix_%_pp',
        'tr%.mid': 'runmix_%_mid',
        'tr%.dth': 'runmix_%_dth',
        'tr': 't_runs',
        'tinn': 't_innings',
        'tbov%.pp': 'overmix_%_pp',
        'tbov%.mid': 'overmix_%_rate_mid',
        'tbov%.dth': 'overmix_%_rate_dth',
        'tbwkt%.pp': 'wicketmix_%_rate_pp',
        'tbwkt%.mid': 'wicketmix_%_rate_mid',
        'tbwkt%.dth': 'wicketmix_%_rate_dth',
        'tbwkt': 'total_wickets',
        'tbov': 'total_overs_bowled',
        'tr_tinn_ratio': 'runs_innings_ratio',
        '4xtbwktotal_tbov_ratio': 'four_times_wickets_overs_bowled_ratio' }

    dfexp_transpose.rename(index=index_dict, inplace=True)

In [102]:

if with_pre_existing_tags:
    transexp_file = f'pstats_tpose_v01_{team_for_code}_fyml.xlsx'
    dfexp_transpose.to_excel(loc_exp + transexp_file, index = True)
else:
    transexp_file = f'pstats_tpose_v01_wo_tags_{team_for_code}_fyml.xlsx'
    dfexp_transpose.to_excel(loc_exp + transexp_file, index = True)

### Fantasy Points Totals

In [ ]:
'''
#Create Fantasy pts crickpe version

pstats['bat_pts'] = master_df['rs'].fillna(0) + master_df['four'].fillna(0) + master_df['six'].fillna(0)*2 \
    + master_df['pts_for_thrty'].fillna(0) + master_df['pts_for_fifty'].fillna(0) + master_df['pts_for_hundy'].fillna(0) + master_df['pts_for_ducky'].fillna(0)

master_df['bow_pts'] = master_df['wkt'].fillna(0)*25 \
    + master_df['pts_for_3w'].fillna(0) + master_df['pts_for_4w'].fillna(0) + master_df['pts_for_5w'].fillna(0) \
        + master_df['pts_for_bow_econ'].fillna(0)

master_df['pts_crickpe'] = master_df['bat_pts'].fillna(0) + master_df['bow_pts'].fillna(0)
'''

In [ ]:

# Calculate strike rates for each phase of the game
#df_plyr_mtch['sr_powp'] = (df_plyr_mtch['tot_runs_powp'] / df_plyr_mtch['tot_balls_powp']) * 100
#df_plyr_mtch['sr_mid'] = (df_plyr_mtch['tot_runs_mid'] / df_plyr_mtch['tot_balls_mid']) * 100
#df_plyr_mtch['sr_dth'] = (df_plyr_mtch['tot_runs_dth'] / df_plyr_mtch['tot_balls_dth']) * 100